@import "node_modules/clarity-ui/src/color/utils/colors.clarity";

.clusterAddress {
    font-size: 13px;
}

.clusterIcon {
    float: left;
    margin-bottom: 10px;
}

.titleHolder {
    display: inline-block;
    margin-left: 10px;
    height: 45px;
    width: 220px;
    .truncate {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.progress-details {
    margin-top: 0px;
    line-height: 25px;
}