.tt-menu {
  width: 100%;
  min-width: 160px;
  max-height: $search-result-list-max-height;
  overflow-y: auto;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.twitter-typeahead {
  margin: 0;
  .tt-suggestion, .tt-options-hint {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px 20px;
  }
  .tt-options-hint {
    color: $secondary_hint_title_color;
  }

  .tt-input, .tt-hint {
    height: 24px;
  }
}

.tt-suggestion:hover {
  color: #262626;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.tokenfield .twitter-typeahead, .tokenfield .twitter-typeahead .tt-hint {
  padding: 0;
  margin: 0;
  font-size: initial;
}
.tokenfield .twitter-typeahead .tt-input {
  padding: 0 6px;
  margin: 0;
  font-size: 13px;
}

.tokenfield {
  min-height: 24px;
}

.tokenfield .token {
  margin-bottom: 1px;
  height: auto;
  .close {
    vertical-align: middle;
    margin-top: 1px;
    margin-bottom: 0;
  }
  .token-label {
    margin: 0;
  }
}

.twitter-typeahead .form-control[readonly].tt-hint {
  background-color: transparent;
}