@import "font-awesome.css";
@import "variables";
@import "mixins";

@import "components/multicolumn-inputs";
@import "components/table-sort";

@import "bootstrap-tokenfield.css";
@import "tokenfield-typeahead.css";
@import "tokenfield-override";

@import "clarity-bootstrap-gap";
@import "clarity-ui.min.css";

@import "components/inline-editable-list";
@import "components/list-views";
@import "components/container-details";
@import "components/container-request";
@import "components/closures-request";
@import "components/environment";
@import "components/radialProgress";
@import "components/query-search";
@import "components/networks";
@import "components/volumes";
@import "components/resource-links";

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: auto;
}

body.admiral-default {
  background: $vmw_blue_top;
  background: -moz-linear-gradient(top, $vmw_blue_top 0%, $vmw_blue_bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $vmw_blue_top), color-stop(100%, $vmw_blue_bottom));
  background: -webkit-linear-gradient(top, $vmw_blue_top 0%, $vmw_blue_bottom 100%);
  background: -o-linear-gradient(top, $vmw_blue_top 0%, $vmw_blue_bottom 100%);
  background: -ms-linear-gradient(top, $vmw_blue_top 0%, $vmw_blue_bottom 100%);
  background: linear-gradient(to bottom, $vmw_blue_top 0%, $vmw_blue_bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$vmw_blue_top', endColorstr='$vmw_blue_bottom', GradientType=0);
}

a, a:focus, a:visited {
  color: $link_color
}

a[disabled] {
  opacity: $disabled_opacity;
  text-decoration: none;
  pointer-events: none;
}

button:focus {
  outline: 0;
}

.font-mono {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.core-build-number {
  position: fixed;
  font-size: 13px;
  bottom: 0;
  text-align: right ;
  right: 10px;
}

textarea {
  width: 100%;
  padding: 0 5px;
  line-height: 26px;
  border: 1px solid $secondary_inactive_button_color;
  font-size: 13px;
  height: 26px;
  border-radius: 2px;
}

.scrollable-custom-properties {
  visibility: visible;
  overflow-y: scroll;
  scrollbar-arrow-color: #ccc;
}

.multicolumn-input .checkbox-placehodler {
  color: $secondary_inactive_button_color;
}

#main {
  position: absolute;
}

.admiral-default #main {
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.admiral-embedded #main {
  @extend .position-expand;
}

.homepage {
  @extend .position-expand;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #EFEFEF;
}

.homepage > .top {
  min-height: 250px;
  padding: 80px 75px 80px 75px;
  background-color: #fff;
}

.homepage > .top .logo-holder {
  width: 240px;
  margin: 0;
  padding: 0;
  float: left;
}

.homepage > .top .logo {
  margin: 0;
  position: relative;
}

.homepage > .top .logo img, .loginpage .logo img {
  width: 240px;
}

.homepage > .top .welcome-holder {
  width: auto;
  margin: 0 0 0 340px;
  padding: 0;
  float: none;
}

.homepage > .top .welcome .welcome-title, .loginpage .welcome .welcome-title {
  font-size: 54px;
}

.homepage > .top .welcome .welcome-description, .loginpage .welcome .welcome-description {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6em;
}

.homepage > .top .buttonBar {
  margin-top: 40px;
}

.homepage > .bottom {
  background-color: #EFEFEF;
  min-height: 240px;
  padding: 50px 0 0px 75px;
}

.homepage .addEndpoint-btn {
  max-width: 480px;
}

.docs-help .description {
  margin-top: 10px;
}

.loginpage {
  @extend .position-expand;
  overflow: hidden;
  .logo-holder {
    @extend .position-expand;
    top: 16%;
    right: 65%;
    margin-right: 50px;

    .logo {
      position: relative;
    }

    img {
      float: right;
    }
  }
  .vertical-divider {
    @extend .position-expand;
    top: 16%;
    left: 35%;
    width: 2px;
    border-left: 2px solid $secondary_hint_title_color;
    height: 330px;
  }
  .welcome-holder {
    @extend .position-expand;
    top: 16%;
    bottom: auto;
    left: 35%;

    > * {
      margin-left: 50px;
      width: 540px;
    }

    .login-panel {
      position: relative;
      padding: 30px;
      margin-top: 30px;

      .input-with-icon {
        position: relative;
        margin-bottom: 10px;

        input {
          width: 100%;
          padding-left: 25px;
        }

        .icon {
          position: absolute;
          padding-left: 10px;
          pointer-events: none;
          left: 0
        }
      }
    }
  }
}

.btn {
  min-width: 0;
}

.radio-inline {
  margin-right: 12px;
}

.btn-circle .fa-plus {
  transform: translate(0.04em, 0);
}
.refresh-button, .import-template {
  display: inline-block;
  margin-left: 10px;
}

.btn.btn-circle {
  cursor: pointer;
  font-size: 12px;
  width: 21px;
  min-width: 21px;
  height: 21px;
  min-height: 21px;
  line-height: 21px;
  border-radius: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.btn-circle, .btn-circle:hover,
.btn-circle:active, .btn-circle:focus {
  cursor: pointer;
  border: 1px solid $main_color;
  color: #ffffff;
  background-color: $main_color;
}

.btn.btn-circle:hover {
  @include box-shadow(0px 1px 3px 0px rgba(0,0,72,0.4));
}

.btn.btn-circle:active {
  @include box-shadow(0px 2px 3px 0px rgba(0,0,0,0.4) inset);
}

.btn.btn-circle-outline,
.btn.btn-circle-outline:hover,
.btn.btn-circle-outline:active,
.btn.btn-circle-outline:focus {
  @extend .btn-circle;
  color: $main_color;
  background-color: #ffffff;
  padding: 0px 0px 0px 2px;
}

.refresh-button .fa-spin {
  @extend .btn-outline-spin;
}

.navigation-link-holder:not(:first-of-type) {
  border-left: 1px solid #cccccc;
}

.navigation-link-holder.lone {
  border: 0px;
}

.navigation-link {
  color: $main_color;
  text-decoration: none;
  cursor: pointer;
}

.navigation-link:hover {
  color: $main_color;
  text-decoration: underline;
}

.relations-holder .navigation-link:hover {
  text-decoration: none;
}

.toolbar > .new-item:last-child {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.02em;
  position: relative;
  top: 2px;
}
.btn-circle .fa.fa-play {
  transform: translate(1px, 0);
}
.btn-group .dropdown {
  .btn {
    margin-left: 0;
    margin-right: 0;
  }
  .btn:not(.dropdown-toggle) {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > .btn.dropdown-toggle {
    padding: 0 10px;
    border-left-style: dotted;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    // Fixes Bootstraps hover of the other part of the button z-index
    z-index: 2;
    margin-left: -4px;
  }
}

.homepage > .top .welcome .btn {
  font-size: 30px;
  padding: 0 63px;
  line-height: 2em;
  height: 2em;
  margin-right: 25px;
}

.closable-view > .content.host-view,
.closable-view > .content.compute-edit-view,
.closable-view > .content.machine-edit-view {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.host-view .control-btns,
.compute-view .control-btns {
  padding-top: 10px;
}

.host-view .control-btns .btn,
.compute-view .control-btns .btn {
  font-size: 18px;
}

.helpcenter-link {
  font-size: 15px;
  font-weight: 200;
}

.steps-description {
  font-size: 22px;
  font-weight:300;
  letter-spacing: 0.02em;
  color: $main_color;
}

.steps-boxes {
  margin-top: 40px;
  min-height: 164px;
}

.step-box {
  border: 2px solid white;
  border-radius: 2px;
  height: 160px;
  position: relative;
  margin-left: 25px;
  margin-right: 60px;
}

.step-box .step-index {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: #000000;
  line-height: 50px;
  text-align: center;
  background: #FFFFFF;
  position: absolute;
  left: -25px;
  top: -25px;
  font-weight: 500;
  font-size: 16px;
}

.step-box .step-title {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 17px;
}

.step-box .step-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.app-view {
  @extend .position-expand;
  overflow: hidden;
}

.hosts-view, .images-view, .containers-view, .machines-view, .compute-view, .environments-view {
  @extend .position-expand;
  overflow: hidden;
}

$main-list-view-right: 10px;

.list-view {
  @extend .position-expand;
  margin: 20px 0 35px 20px;
}

.template-details .list-view {
  margin: 0;
}

.host-view .main-panel .host-form {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  bottom: 50px;

  margin-top: 10px;
}

.compute-view .main-panel .compute-form,
.machines-view .main-panel .machine-form {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 100px;
  bottom: 50px;
  margin-top: 10px;
}

.view-title-container {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  z-index: 2;
  height: 38px;
}

.view-title .title {
  text-align: left;

  color: #333333;
  background-color: white;

  font-size: 24px;
  font-weight: 300;
}

.view-title {
  .title-tab {
    @extend .btn;
    width: 50%;
    margin: 0;
    max-width: 1000px;

    font-size: 20px;

    a, a:hover, a:active {
      color: $main_color;
      text-decoration: none;
    }
  }
  .title-tab.selected {
    background-color: $main_color;
    cursor: initial;
    a, a:hover, a:active {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}

.title-tab.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.title-tab.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.title-tab.single {
  border-radius: 20px;
}

.host-view .main-panel .host-form .clusterSizeInput {
  margin-top: 10px;

  .action {
    display: inline;
  }
}

.host-view.certificate-confirm i {
  position: relative;
  top: 4px;

  margin-right: 15px;

  font-size: 26px;
  color: $main_color;
}

.host-view.certificate-confirm .modal-body .modal-help-icon {
  float: left;
}

.host-view.certificate-confirm .modal-body .certificate-warning-text {
  margin-left: $modal-with-help-icon-left-padding;
}

.host-view.certificate-confirm .certificate-content-holder, .host-view.certificate-confirm .hide-certificate-btn {
  display: none;
}

.host-view.certificate-confirm.active .certificate-content-holder, .host-view.certificate-confirm.active .hide-certificate-btn {
  display: block;
}

.host-view.certificate-confirm.active .show-certificate-btn {
  display: none;
}

.host-view.certificate-confirm .certificate-content-holder {
  margin-left: -$modal-inner-padding;
  margin-right: -$modal-inner-padding;
  margin-top: 15px;
  border-top: 1px solid $modal-footer-border-color;
  border-bottom: 1px solid $modal-footer-border-color;
  background-color: $context-view-background-color;
  overflow: auto;
}

.host-view.certificate-confirm .certificate-content-holder .certificate-content {
  margin-top: $modal-inner-padding;
  margin-right: $modal-inner-padding;
  margin-bottom: $modal-inner-padding;
  margin-left: $modal-inner-padding + $modal-with-help-icon-left-padding;
}

.host-view.certificate-confirm .certificate-content-holder .certificate-content label {
  color: $secondary_hint_title_color;
}

.host-view.certificate-confirm .modal-footer {
  border-top: none;
}

.host-view.certificate-confirm .modal-footer .show-certificate-btn, .host-view.certificate-confirm .modal-footer .hide-certificate-btn {
  float: left;
  margin-left: $modal-with-help-icon-left-padding;
}

.focus {
  $color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
  border-color: $input-border-focus;
  outline: 0;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
}

// Hides bootstrap specific progress shadows
.app-view .progress, .app-view .progress-bar{
  @include box-shadow(none);
}

.form-group input[type='checkbox'] {
  margin: 12px 0;
}

.form-group .dropdown-holder {
  @extend .form-control;
  padding: 0;
}

.form-group .dropdown button, .form-group .dropdown .dropdown-menu {
  width: 100%;
  max-width: 100%;
}

.form-group .dropdown .dropdown-menu {
  .search-input {
    margin-bottom: 20px;
  }
}

.form-group .dropdown {
  width: 100%;
  .dropdown-toggle {
    width: 100%;
    max-width: 100%;
    padding-right: 10px;

    .loading {
      width: 18px;
      float: left;
      margin-left: 5px;
    }

    .dropdown-title {
      float: left;
      color: #333;
    }

    .dropdown-title.placeholder {
      color: #999 !important;
    }

    .caret {
      float: right;
      margin-top: 15px;
    }
  }
}

.form-group .dropdown .dropdown-search {
  margin-left: 15px;
  margin-right: 15px;
}

.form-group .help-block:empty {
  margin: 0;
  display: none;
}

.form-group .dropdown .dropdown-options, .form-group .dropdown .dropdown-manage {
  display: block;
  border: none;
  @include box-shadow(none);
  position: relative;
  max-height: $search-result-list-max-height;
  overflow-y: auto;
  font-size: 15px;

  > li {
    display: block;
  }
}

.form-group .dropdown .divider {
  width: 100%;
}

.form-group .dropdown .dropdown-manage li {
  position: relative;
  padding-left: 0;
}

.form-group .dropdown .dropdown-manage li > a {
  margin-left: 0;
  position: relative;
  padding: 5px 0 5px 41px;
}

.form-group .dropdown .dropdown-manage li > a > .fa {
  position: absolute;
  top: 10px;
  left: 20px;
}

#connectionType .form-input-group {
  line-height: 2.5em;
}
.form-control, .search-input .form-control-feedback, .image-tags-input .form-control-feedback {
  color: #333;
  @include box-shadow(none);
}

.form-control label, .form-control-static label {
  font-weight: normal;
}

/* Centers a Bootstrap modal vertically */
.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.right-context-panel {
  position: relative;
  z-index: 15;
  background-color: $context-view-background-color;
}

.right-context-panel > .toolbar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -47px;
  width: 47px;
  z-index: 20;
  overflow-x: hidden;
  overflow-y: auto;

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset -2px 0px 3px 0px rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
}

.right-context-panel > .toolbar .toolbar-item {
  display: inline-block;
  white-space: nowrap;

  transform: translate(0,100%) rotate(-90deg);
  transform-origin: 0 0;
  position: relative;
  margin-left: 5px;

  &:after {
    content: "";
    float: left;
    margin-top: 100%;
  }
}

.right-context-panel > .toolbar .toolbar-item i {
  font-size: 24px;
  vertical-align: middle;

}

.right-context-panel > .toolbar .toolbar-item > a {
  @extend .btn;
  color: $gray-darkest;
  border-color: $gray-darkest;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 1px -2px 8px -7px rgba(0, 0, 0, 0.2),
              -1px -2px 3px 0px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  background-color: white;

  &:visited {
    color: $gray-darkest;
  }
}

.right-context-panel > .toolbar .toolbar-item.active {
  z-index: 2;
}

.toolbar-item .toolbar-item-title {
  display: inline;
  vertical-align: middle;
}

.toolbar-item .toolbar-item-notification {
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 22px;
  min-width: 17px;
  font-size: 11px;
  height: 17px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  background-color: rgba($brand-info, 1);
  position: absolute;
  top: -3px;
  left: -3px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: rotate(90deg);
}

.toolbar-item .toolbar-item-notification[disabled] {
}

.right-context-panel > .content {
  @extend .position-expand;
  overflow: auto;
  background-color: white;
  form .form-group {
    padding-left: 168px;
    > label:first-child {
      width: 144px;
    }
  }
  form .form-group.row {
    padding-left: 0;
  }
}

.app-view:not(.no-side) > .side-view:not(.notransition) {
  @include transition(width 0.3s ease);
}

.app-view:not(.no-side) > .center-view:not(.notransition) {
  @include transition(left 0.3s ease, right 0.3s ease);
}

.app-view .main-panel, .app-view .right-context-panel {
  @include transition(width 0.3s ease, left 0.3s ease, right 0.3s ease);
}

.host-view, .host-view > div, .inline-editable-list-and-context-view, .inline-editable-list-and-context-view > div {
  height:  100%;
  padding-left: 0;
  padding-right: 0;
}

.host-view,
.compute-edit-view,
.environment-edit-view,
.machine-edit-view,
.registry-view {
  > .main-panel {
    @extend .position-expand;
    z-index: 1;
    > .mask {
      display: none;
    }
  }
  > .right-context-panel {
    @extend .position-expand;
    z-index: 2;
    left: 100%;
  }
}

.host-view.right-context-expanded,
.compute-edit-view.right-context-expanded,
.environment-edit-view.right-context-expanded,
.machine-edit-view.right-context-expanded,
.registry-view.right-context-expanded {
  > .main-panel {
    > .mask {
      display: block;
    }
  }
  > .right-context-panel {
    left: 55%;
  }
}

.machine-edit-view {
  .template-input {
    margin-top: 10px;
  }

  textarea {
    @extend .font-mono;
    resize: vertical;
    min-height: 300px;
    line-height: 16px;
    font-size: 13px;
  }

  .template-import-option {
    .fileUpload {
      float: left;
    }

    input.upload {
      display: none;
    }

    > .fa-question-circle {
      @extend .hint;
      margin-left: 5px;
      margin-top: 7px;
      float: left;
    }
  }
}

.environment-edit-view {
  > .main-panel {
    @extend .position-expand;
    background-color: $context-view-background-color;
    z-index: 1;
    > .mask {
      display: none;
    }
    .title {
      font-size: 26px;
    }
  }
  .multicolumn-inputs-list-body-wrapper {
    max-height: none;
    overflow: visible;
  }
}

.inline-editable-list-and-context-view {
  .main-panel > .list-holder {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0px;
    bottom: 0;
    overflow: auto;

    > .inline-editable-list {
      position: absolute;
      top: 0;
      left: 20px;
      right: 40px;
      bottom: 0;
      margin: 0;
    }

    .inline-editable-list-and-context-view .list-holder .inline-editable-list > .table {
      background-color: $main_background_color;
      margin-top: 20px;
    }
  }
}

.registry-view, .placements-view, .environments-view, .center-view > .endpoints-view {
  @extend .inline-editable-list-and-context-view;
}

.endpoint-icon,
.dropdown-holder .dropdown-options {
  img {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  .spinner {
    margin-right: 8px;
  }
}

.dropdown-holder .dropdown-options img {
  margin-top: 2px;
}

.app-view {
  .side-view {
    @extend .position-expand;
    z-index: 2;
  }
  .center-view {
    @extend .position-expand;
    z-index: 1;
  }
}

.app-view.no-side {
  .side-view {
    width: 0;
    overflow: hidden;
  }
  .center-view {
    left: 0;
  }
}

.app-view.small-side {
  .side-view {
    width: 65px;
    .nav-bar .nav-item > span:not(.nav-item-image) {
      display: none;
    }
  }
  .center-view {
    left: 65px;
  }
}

.app-view.normal-side {
  .side-view {
    width: 10%;
  }
  .center-view {
    left: 10%;
  }
}

.app-view > .side-view > .nav-bar {
  padding-top: 15px;
  border-radius: 2px 0 0 2px;
  @include box-shadow(inset -1px 0px 7px 0px rgba(0, 0, 0, 0.20));
}

.app-view > .side-view .nav-item:not(.inner) > span:not(.nav-item-image) {
  @extend .truncateText;
  display: block;
  padding-top: 0;
  margin-left: 63px;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
.app-view > .side-view .nav-item.active > span:not(.nav-item-image) {
  font-weight: bold;
}

.app-view > .side-view .nav-item.inner > span:not(.nav-item-image) {
  @extend .truncateText;
  display: block;
  padding-top: 0;
  margin-left: 53px;
  color: #3c3c3c;
  font-size: 13px;
  font-weight: 500;
}
.app-view > .side-view .nav-item.inner.active > span:not(.nav-item-image) {
  font-weight: bold;
}

.inline-edit-holder {
  background-color: #ffffff;
  @include box-shadow(0px 0px 15px 5px rgba(0, 0, 0, 0.15));
  position: relative;
  margin-right: 13px;
  margin-bottom: 5px;
  padding-top: 12px !important;
}

.inline-edit, .inline-edit-header {
  display: table;
  width: 100%;
}

.inline-edit {
  form {
    padding-top: 0;
    .form-block {
      margin: 0;
    }
    .form-group {
      margin: 0;
    }

    .form-group.row > [class*='col-'] {
      padding: 0;
    }
  }
}

.inline-edit > div, .inline-edit > form, .inline-edit-header > div {
  display: table-cell;
}


.inline-edit-toolbar {
  width: 60px;
  text-align: right;

  .btn:not(:first-child) {
    margin-left: 10px;
  }
}

.registry-inline-edit .inline-edit-toolbar {
  width: 200px;
}

.inline-edit-properties input {
   width: 100%;
}

.inline-edit-properties textarea {
  min-height: 100px;
  margin-bottom: 10px;
  resize: vertical;
}

/* override default clarity styles */
form.placement-inline-edit-properties {
  .form-group {
    padding-left: 150px;
  }
  .form-group > label:first-child {
    width: 150px;
  }
  .form-block > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .inline-input-group {
    display: flex;
  }
}

.inline-editable-list.certificates-list .details-cell .content .form-group {
  margin: 0;
}

.inline-edit .custom-properties {
  /*overflow: auto;*/
  max-height: 200px;
}

.inline-edit-passwordInputs, .inline-edit-certificateInputs, .inline-edit-publicInputs {
  margin-left: 20px;
}

.templateImport {
  .template-input {
    margin-top: 10px;
  }

  .templateImport-header {
    display: table;
    width: 100%;

    .title {
      display: table-cell;
      color: $main_color;
      font-size: 20px;
      padding: 0 0 12px 0;
      font-weight: 300;
      letter-spacing: 0.02em;
    }
  }

  .templateImport-properties {

    textarea {
      @extend .font-mono;
      resize: vertical;
      min-height: 300px;
      line-height: 16px;
      font-size: 13px;
    }

    .template-import-option {
      .fileUpload {
        float: left;
      }

      input.upload {
        display: none;
      }

      > .fa-question-circle {
        @extend .hint;
        margin-left: 5px;
        margin-top: 7px;
        float: left;
      }
    }
  }
}

.export-template-text {
  padding-top: 7px;
}

.export-template-options {
  margin-top: 10px;
  margin-left: 50px;

  .export-template-option {
    margin-top: 5px;

    .export-option-label {
      margin-left: 5px;
    }
  }
}

.mask {
  @extend .position-expand;
  z-index: $closable-view-zindex;
  background-color: rgba(255, 255, 255, $disabled_opacity);
  left: 10px;
}

.nav-bar {
  background-color: #f3f3f3;
  height: 100%;
}

.nav-bar .nav-item {
  height: 52px;
  position: relative;
  display: block;
  cursor: pointer;
  text-decoration: none;
  clear: both;
  line-height: 52px;
  margin: 9px 0;
}

.nav-bar .nav-item.inner {
  padding-left: 14px;
  height: 42px;
  line-height: 42px;
}

.nav-bar .nav-item:not(.active):hover {
  background: #e9e9e9;
  @include box-shadow(inset -7px 0 9px -7px rgba(0,0,0,0.4));
}

.nav-bar .nav-item > img.nav-item-image {
  margin-top: 13px;
}

.nav-bar .nav-item > .nav-item-image {
  margin-left: 23px;
  float: left;
  width: 24px;
  // For font icon
  color: #333;
  font-size: 24px;
}
.nav-bar .nav-item.inner > img.nav-item-image {
  margin: 12px 0 0 23px;
  width: 18px;
}

/* Applications icon generally larger than others */
.nav-bar .nav-item.inner.applications > img.nav-item-image {
  width: 24px;
  margin: 12px 0 0 20px;
}
.nav-bar .nav-item .nav-category {
  position: absolute;
  top: 0;
  right: 10px;
}

.nav-bar .nav-item.active {
  background: #cccccc;
  z-index: 1;
}

.nav-bar .nav-item.active:after {
  content: " ";
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 0 27px 10px;
  border-color: transparent transparent transparent #cccccc;
}

.nav-bar .nav-item.inner.active:after {
  content: " ";
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0 21px 10px;
  border-color: transparent transparent transparent #cccccc;
}

.btn.loading .fa-spin {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.btn .fa.loader, .btn .fa.loader-inline, .btn.loading .fa {
  display: none;
}

.loading-background {
  background-color:rgba(255, 255, 255, 0.7);
}

.btn.loading {
  @extend .btn.disabled;
  position: relative;
}

.btn.loading .fa.loader-inline {
  margin-left: 5px;
}

.btn.loading .fa.loader, .btn.loading .fa.loader-inline {
  display: inline-block;
}

.closable-view {
  @extend .position-expand;
  background: #FFFFFF;
  z-index: $closable-view-zindex;
}

.closable-view > .content {
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow: auto;
}

.template-details .closable-view > .content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.environments-view .closable-view > .content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.closable-view > .close-button {
  position: absolute;
  top: 15px;
  left: 15px;
}

.closable-view .environment-form,
.closable-view.registry-view .list-holder {
  margin-top: 20px;
}

.closable-view.registry-view .content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a.close-button {
  color: #bababa;
  cursor: pointer;
  text-decoration: none;
  z-index: 20;
  font-size: 14px;
  padding: 0;
  background-color: transparent;
}

a.close-button:hover {
  color: $main_color;
}

a.close-button > .backtext {
  visibility: hidden;
  font-style: normal;
  position: relative;
  top: -3px;
  font-weight: 300;
  margin-left: 8px;
}
a.close-button:hover > .backtext {
  visibility: visible;
}
a.close-button i.fa-chevron-circle-left {
  font-size: 27px;
  width: 27px;
  text-align: center;
}

.central-block-loading {
  @extend .position-expand;
  @include animation(fadein 0.4s);
  text-align: center;
  > .vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  > .spinner {
    width: 100px;
    height: 100px;
    vertical-align: middle;
  }
}

.grid-container .loading, .inline-editable-list > .loading, .eventlog-list > .loading, .requests-list > .loading {
  @extend .central-block-loading;
  background: rgba(255, 255, 255, 0.5);
}

body > .loading, .container-details > .content .loading {
 @extend .central-block-loading;
}

.registry-status-general {
  font-size: 10px;
  width: 16px;
  line-height: 16px;
  border-radius: 10px;
  text-align: center;
  padding: 0;
  color: #FFFFFF;
}

.registry-status-enabled {
  @extend .registry-status-general;
  background-color: $status_running_color;
}

.registry-status-disabled {
  @extend .registry-status-general;
  background-color: $status_stopped_color;
}

.inline-editable-list .form-group {
  margin-left: 0;
  margin-right: 0;
}

.table > thead > tr > th {
  border-bottom: 1px solid #d3d3d3;
}

.form-group .dropdown .dropdown-options {
  > li > a, .dropdown-options-hint {
    padding: 0 20px;
  }
}

.dropdown-options-hint {
  color: $secondary_hint_title_color;
}

.host-form.form-horizontal input.form-control {
  font-size: 16px;
}

.side-tab-item-actions {
  display: inline;
  margin: 0px;

  .btn {
    border-color: transparent;
    font-size: 16px;
    display: inline;
    margin: 0px 1px 0px 1px;
    padding: 2px;
    min-width: 30px;
    min-height: 20px;
    color: $secondary_hint_title_color;
  }
  .btn:hover {
    background-color: #ffffff;
    color: $main_color;
  }
}

.requests-list {
  @extend .position-expand;

  > .loading {
    top: 95px;
  }

  > .tab-content {
    @extend .position-expand;
    top: 80px;
    overflow-y: auto;
    overflow-x: hidden;

    .request-item-holder {
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
      display: block;
      border-bottom: 1px solid #ccc;

      .request-item {
        text-decoration: none;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 16px;
        width: 100%;

        .title {
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 0px;
          .name {
            .fa {
              color: #838383;
            }
          }
          .phase {
            font-size: 11px;
            color: #000000;
          }
        }

        .progress {
          margin-left: 5px;
          margin-right: 5px;
          height: 18px;

          .progress-bar {
          }

          .progress-status {
            position: absolute;
            left: 5px;
            right: 5px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: #ffffff;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .request-status-actions {
          @extend .side-tab-item-actions;
        }

        .stage {
          font-size: 11px;
        }

        .substage {
          font-size: 9px;
        }

        .details {
          cursor: pointer;
        }
      }

      .delete-inline-item-confirmation-holder {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 11;
      }
    }
  }
}

.requests-list > .tab-content .request-item-holder:hover {
  @include box-shadow(0px 1px 10px 5px #dbdbdb);
}

.requests-list > .tab-content .request-item-holder:active {
  @include box-shadow(0px 1px 10px 5px #dbdbdb inset);
}

.eventlog-list {
  @extend .position-expand;

  > .loading {
    top: 95px;
  }

  > .tab-content {
    @extend .position-expand;
    top: 80px;
    overflow-y: auto;
    overflow-x: hidden;

    .highlight-item {
      @include box-shadow(0px 2px 10px 1px $main-color-semi);
    }

    .eventlog-actions {
      @extend .side-tab-item-actions;

      position: absolute;
      top: 10px;
      right: 4px;
      z-index: 10;

      display: inline-block;

      text-align: right;
      padding-bottom: 2px;
    }

    .delete-inline-item-confirmation-holder {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 10;
    }

    .eventlog-item {
      position: relative;
      display: block;

      margin-left: 10px;
      margin-right: 10px;

      padding-bottom: 10px;
      padding-top: 10px;

      border-bottom: 1px solid $secondary_hint_title_color;
      text-decoration: none;
      line-height: 16px;

      .content {
        margin-left: 5px;
        margin-right: 25px;
        border-style: solid;
        border-width: 0px 0px 0px 3px;
        padding-left: 5px;
        overflow-wrap: break-word;
        width: 85%;

        .timestamp {
          font-size: 12px;
          font-color: $secondary_hint_title_color;
          .fa-clock-o {
            margin-right: 5px;
          }
        }
      }

      .event-type-info {
        border-left-color: $main_color;
      }

      .event-type-warning {
        border-left-color: $status_suspended_color;
      }

      .event-type-error {
        border-left-color: #ff0000;
      }
    }
  }
}

.notransition{
  @include transition(none !important);
}

.app-view.normal-side .side-view {
  width: 180px;
}
.app-view.normal-side .center-view {
  left: 180px;
}

.user-dropdown {
  @extend .dropdown;
  position: absolute;
  right: 0;
  top: -41px;
  > a, > a:focus {
    font-size: 16px;
    color: #FFFFFF;

    .fa {
      margin-right: 10px;
    }
  }
}

/* Scrollbar */

::-webkit-scrollbar{width: 7px;}

::-webkit-scrollbar-thumb{background-color:#ccc; border-radius: 15px;}
::-webkit-scrollbar-thumb:hover{background-color:#bababa;}

::-webkit-scrollbar-track{background-color:#eee;}

/* End Scrollbar */

/* Alerts */

$alert-error-color: #cc0000;
$alert-text-color: #ffffff;

.alert-holder {
  height: 20px;
  opacity: 1;
  @include transition(height 0.3s ease, opacity 0.3s ease);
}

.container-item .alert-holder, .composite-container-item .alert-holder {
  // vue.js transitions are used instead
  transition: none;

  position: absolute;
  left: 10px;
  right: 10px;
  top: 5px;

  padding: 2px 5px 2px 5px;

  .alert.alert-warning {
    font-size: 14px;
    font-weight: normal;
    color: $brand-hint-color;
    background-color: $brand-hint-background-color;
    border: 1px solid $secondary_inactive_button_color;
  }
}

.alert-holder.alert-hidden {
  height: 0px;
  opacity: 0;
  pointer-events: none;
}

.alert {
  position: absolute;
  top: 0px;
  left: 5%;
  right: 5%;
  z-index: 200;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2px;

  border: 1px solid transparent;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  font-size: 14px;

  .alert-icon {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.inline-editable-list .alert, .container-item .alert {
  left: 0;
  width: 100%;
}

.alertMsg {
  padding: 5px;
}

.alert {
  display: inline;
  min-height: 0;
  .close {
    top: 0px;

    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    line-height: normal;
    opacity: 0.7;
  }
  .close:hover {
    opacity: 1;
  }
}

.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.alert-danger {
  @include alert-variant($alert-error-color, $alert-error-color, $alert-text-color);
}

/* End Alerts */

.action {
  .action-label {
    font-size: 9px;
    line-height: 12px;
    color: $main_color;
    visibility: hidden;
    text-align: center;
  }

  .btn, .btn-circle {
    background-color: $secondary_hint_title_color;
    color: #ffffff;
    border-color: transparent;
  }
  .btn:hover, .btn-circle:hover {
    background-color: $main_color;
    color: #ffffff;
    border-color: transparent;
  }
}

.action:hover .action-label {
  visibility: visible;
}

.requests-list, .eventlog-list {
  > .title {
    font-size: 28px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 5px;
    letter-spacing: 0.02em;
    font-weight: 300;

    .action-confirmation {
      float: right;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}

.title-big-actions {
  display: flex;
  float: right;
  height: 40px;
}

.big-action {
  display: inline;
  text-align: center;
  margin-right: 10px;

  .btn, .btn-circle-outline, .btn-circle-outline:hover {
    font-size: 18px;
    width: 30px;
    min-width: 25px;
    height: 30px;
    min-height: 25px;
    line-height: 28px;
    border-radius: 30px;

    .fa-spin {
      @extend .btn-outline-spin;
    }
  }

  .btn-circle-outline img {
    width: 16px;
  }

  .big-action-label {
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 40px;
  }
}

.title-close-button {
  position: absolute;
  top: -20px;
  right: -10px;
  font-size: 18px;
  font-weight: 100;

  a {
    color: $main_color;
  }
}

.actions {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #fff;
  border: 1px solid $main-border-color;
  display: none;
  padding-top: 5px;
  padding-left: 1px;
  padding-right: 1px;
  min-width: 33px;

  .action {
    .btn, .btn-circle {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.title-action-button, .action-confirmation {
  display: inline;
}
.title-action-button {
  margin-left: 10px;

  .btn.selected {
    color: #fff;
    background-color: $main-color;
  }
}

.action-confirmation {
  text-align: left;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 300;

  .action-confirm {
    margin: 0;
  }
  .action-cancel {
    margin: 0;
  }
}

/* Actions Toolbar */

.toolbar-actions {
  display: flex;
}

.toolbar-actions .loading {
  line-height: 28px;
  color: $main_color;
  text-align: left;
  font-size: 16px;
}

.toolbar-actions .toolbar-action {
  margin-right: 10px;
  display: inline;
  width: 40px;
  text-align: center;
  z-index: 101;
}
.toolbar-actions .toolbar-action .btn {
  color: $main_color;
  text-align: center;
}

.toolbar-actions .toolbar-action:hover .btn {
  background-color: #ffffff;
}

.toolbar-actions .toolbar-action .btn-circle {
  width: 32px;
  min-width: 32px;
  line-height: 28px;
  height: 32px;
  border-width: 2px;
  border-radius: 16px;
  text-align: center;
  padding: 0;

  img {
    width: 16px;
  }
}

.toolbar-actions .toolbar-action .toolbar-action-label {
  font-size: 12px;
  color: $main_color;
  visibility: hidden;
  text-align: center;
}
.toolbar-actions .toolbar-action:hover .toolbar-action-label {
  visibility: visible;
}

/* End Actions Toolbar */

.item-delete-confirmation {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 200px;
  height: 70px;
}

.countdownStart {
  margin-top: 6px;
  padding-left: 2px;
  font-size: 16px;

  a {
    text-decoration: underline;
  }

  span, .fa-spin {
    color: $main_color;
  }
}

.requiredFieldMark {
  color: $brand-danger;
}

.provisionGroup {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;

  label {
    color: $main_color;
    font-weight: normal;
  }

  $input-height-small: 30px;

  select {
    color: $main_color;
    font-weight: normal;

    height: $input-height-small;
    line-height: $input-height-small;

    flex: 0 1 50%;
    margin: 3px 5px 0 0;

    background-color: #fff;
    border: 1px solid $main_color;
    border-radius: 1px;

    option {
      color: $main_color;
    }
  }

  button {
    flex: 0 1 50%;
    margin: 0;
  }

  .btn-circle {
    margin-left: 5px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    line-height: 26px;
    border-width: 2px;
    border-radius: 16px;
    text-align: center;
    padding: 0;
  }
}

.title-second-day-operations {
  display: inline;
  border-bottom: 1px solid #9a9a9a;
  padding: 2px 10px 4px 0px;
  margin-left: 10px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timeout-alert {
  position: absolute;
  display: inline-block;
  top: 50px;
  z-index: 1000000;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  font-weight: normal;
  color: $brand-hint-color;
  background-color: $brand-hint-background-color;
  border: 1px solid $secondary_inactive_button_color;
}

.app-view .form-group {
    padding-right: 30px;

  .form-control.multicolumn-inputs {
    height: auto;
    height: auto;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }

  input.checkbox-control {
    margin-top: 10px;
  }

  > .fa-question-circle {
    @extend .hint;
    position: absolute;
    top: 6px;
    right: 10px;
  }
}

.app-view .search-input, .app-view .image-tags-input, .app-view .multicolumn-inputs-list .search-input {
  position: relative;

  input, .twitter-typeahead input {
    padding-left: 30px;
    width: 100%;
  }

  input:not(.tt-input) {
  }

  .search-input span, .image-tags-input span {
    left: 0;
  }

  .loader-inline, .search-hint {
    z-index: 1;
    left: 5px;
    bottom: 10px;
    position: absolute;
  }

  .loader-inline {
    display: none;
  }
}

.app-view .search-input.loading, .app-view .image-tags-input.loading {
  .loader-inline {
    display: block;
  }
  .search-hint {
    display: none;
  }
}

.closures-view {
  > .main-panel {
    @extend .position-expand;
    z-index: 1;
    > .mask {
      display: none;
    }
  }
  > .right-context-panel {
    @extend .position-expand;
    z-index: 2;
    left: 100%;
    top: -10px;
    > .content {
      top: 40px;
    }
  }
}

.closures-view.right-context-expanded {
  > .main-panel {
    > .mask {
      display: block;
    }
  }
  > .right-context-panel {
    left: 45%;
  }
}

.closure-logs .centeredLabel {
  text-align: center;
}

.right-context-panel > .content .closure-logs {
  margin: 20px;
}

.right-context-panel > .content .closure-logs-content {
  background-color: #353434;
  color: #A6A6A6;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  bottom: 25px;
  min-height: 400px;
}

.closable-view .closure-logs {
  margin-top: 80px;
}

.closable-view .closure-logs .td {
  vertical-align:top;
}

.source-edit-area.ace_editor.ace-tm {
  height: 300px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.dependencies-edit-area.ace_editor.ace-tm {
  height: 100px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.comma-separated-values-line {
  span:not(:last-child):after {
    content:', ';
  }
}
