/* You can add global styles to this file, and also import other style files */
@import 'node_modules/admiral-ui-common/css/variables';
@import "node_modules/admiral-ui-common/css/tokenfield-override";
@import "node_modules/clarity-ui/src/utils/mixins.clarity";
@import "node_modules/clarity-ui/src/utils/helpers.clarity";
@import "node_modules/clarity-ui/src/images/images.clarity";
@import "node_modules/clarity-ui/src/typography/typography.clarity";
@import "node_modules/clarity-ui/src/forms/forms.clarity";


.main-container {
  /* Fix for fixed positioned elements http://stackoverflow.com/questions/36855473/position-fixed-not-working-is-working-like-absolute */
  -webkit-transform: none;
  background-color: #FFFFFF;

  .content-container {
    > * {
      display: flex;
    }
  }
  .content-container .content-area {
    display: flex;
    > * {
      display: flex;
      position: relative;
    }
  }

  .content-container .sidenav {
    transition: width 0.25s ease-in;
  }
  .content-container.expanded .sidenav {
    min-width: 0;
    width: 0;
  }
}

grid-view {
  z-index: 1;
}

navigation-slide-transition {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}

navigation-slide-transition > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.main-container .tokenfield {
  @include clr-form-fields-appearance($clr-baselineRem_2_5, $clr-form-field-border-color);
  @include input-border-bottom-animation();
}

.main-container .tokenfield.focus {
  border-bottom: 1px solid #0094d2;
  background-size: 100% 100%;
  box-shadow: none;
}


/* Clarity Ext */
.sidenav .nav-context-content {
  margin-top: 5px;
  font-weight: 500;

  label {
    padding-left: 5px;

  }
}

.sidenav .nav-context-content.border {
  border-bottom: 1px solid #ccc;
}