/*nsm additions*/

#vt100 .ansi15 {
	color: white
}
#vt100 .ansiDef {
	color: white
}
#vt100 .bgAnsiDef {
	background-color: black
}
#vt100 .bgAnsi0 {
	background-color: black
}
#vt100 #scrollable {
  color:            white;
  background-color: black;
}
