<div class="request-graph-general-info" style="z-index: 5;">
  <div class="taskHeader">
    <div class="task-name">
      <div v-if="hasError"class="errMsg" style="text-align: left;"><i
        class="fa fa-exclamation-triangle"></i>&nbsp;<span>Error</span><div class="msg general">{{model.request.taskInfo.failure.message}}</div></div>
      <div><span v-if="model.request && model.request.operation">{{displayOperation(model.request.operation)}}</span>&nbsp;<span
        v-if="model.request && model.request.resourceType">{{displayResourceType(model.request.resourceType)}}</span></div>

      <div v-for="resource in model.request.resources" track-by="$index">
        <div class="resource-name">{{getResourceName(resource)}}</div>
      </div>
    </div>

    <div v-for="tenant in model.request.tenants" track-by="$index">
      <span class="left">&nbsp;Tenant:</span>
      <span class="right">{{tenant.name}}</span>
    </div>
    <!--div class="info"><span class="left">Network:</span>&nbsp;<span class="right">TODO</span></div>
    <div class="info"><span class="left">Endpoint:</span>&nbsp;<span class="right">TODO</span></div>
    <div class="info"><span class="left">Environment:</span>&nbsp;<span class="right">TODO</span></div>-->
    <div v-for="info in model.infos" track-by="$index">
      <br/>&nbsp;-&nbsp;{{info.resourceDescription.name}}
      <div class="simple-info">
        <span class="left">Type:</span>
        <span class="right">{{info.type}}</span>
      </div>
      <template v-if="info.resourceDescription._cluster > 0">
        <div class="simple-info">cluster of {{info.resourceDescription._cluster}}</div>
      </template>
      <template v-if="notEmpty(info.resourceDescription.affinity)">
        <div class="simple-info">affinity:
          <div class="simple-info" v-for="affinity in info.resourceDescription.affinity" track-by="$index">{{affinity}}</div>
        </div>
      </template>

      <div class="simple-info" v-if="info.placement">
        <span class="left">Placement:</span>
        <a class="right" href="#">{{info.placement.name}}</a>
      </div>
      <div class="simple-info" v-if="info.placementZone">
        <span class="left">Placement Zone:</span>
        <a class="right" href="#">{{info.placementZone.name}}</a>
      </div>
      <div class="simple-info" v-if="info.hosts">
        <span class="left">Host(s) Selected:</span>
        <span class="right">
          <a v-for="host in info.hosts" class="host" track-by="$index" href="#">{{getHostName(host)}}</a>
        </span>
      </div>
    </div>
  </div>
</div>