<div class="request-graph-general-info" style="z-index: 5;">
  <div class="taskHeader">
    <div class="task-name">
      <div v-if="hasError"class="errMsg"><i class="fa fa-exclamation-triangle"></i>&nbsp;<span>Error</span><div class="msg general">{{model.request.taskInfo.failure.message}}</div></div>
      <div><span v-if="model.request && model.request.operation">{{displayOperation(model.request.operation)}}</span>&nbsp;<span v-if="model.request && model.request.resourceType">{{displayResourceType(model.request.resourceType)}}</span>
      </div>
      <div class="resource-name" v-if="model.resourceDescription && model.resourceDescription.name">&nbsp;{{model.resourceDescription.name}}</div>
    </div>
    <div class="info" v-if="model.placement && model.placement.name"><span class="left">Placement:</span>&nbsp;<span class="right">{{model.placement.name}}</span></div>
    <div class="info" v-if="model.placementZone && model.placementZone.name"><span class="left">Placement Zone:</span>&nbsp;<span class="right">{{model.placementZone.name}}</span></div>
    <div class="info" v-if="model.hosts"><span class="left">Host(s) Selected:</span>&nbsp;<span class="right" v-for="host in model.hosts" class="host" track-by="$index">{{getHostName(host)}}</span></div>
    <div class="info" v-if="isCluster"><span class="left">Cluster of:</span>&nbsp;<span class="right">{{model.resourceDescription._cluster}}</span></div>
    <div class="info" v-if="hasAffinityRules"><span class="left">Affinity:</span>&nbsp;<span class="right">{{model.resourceDescription.affinity}}</span></div>
    <!--div class="info"><span class="left">Network:</span>&nbsp;<span class="right">TODO</span></div>
    <div class="info"><span class="left">Endpoint:</span>&nbsp;<span class="right">TODO</span></div>
    <div class="info"><span class="left">Environment:</span>&nbsp;<span class="right">TODO</span></div>
    <div class="info"><span class="left">Business Group:</span>&nbsp;<span class="right">TODO</span></div-->
    <template v-if="model.childContainerDescriptions">
      <div class="info children"><span class="left">Containers:</span>
      <span class="right"
         v-for="childContainerDescription in model.childContainerDescriptions" track-by="documentSelfLink">
        <br/>{{childContainerDescription.name}}:
        <template v-if="childContainerDescription._cluster > 0">&nbsp;cluster of {{childContainerDescription._cluster}}</template>
        <template v-if="childContainerDescription.affinity">&nbsp;affinity: {{childContainerDescription.affinity}}</template>
      </span>
      </div>
      </template>
    <template v-if="model.childNetworkDescriptions">
      <div class="info children"><span class="left">Networks:</span>
      <span class="right"
           v-for="childNetworkDescription in model.childNetworkDescriptions" track-by="documentSelfLink">
        {{childNetworkDescription.name}}
      </span>
      </div>
    </template>
  </div>
</div>