<div class="main-view">
  <div class="title">{{"identity.title" | i18n}}</div>
  <clr-tabs>
    <clr-tab-link [clrTabLinkId]="'identityCredentialsTab'" [clrTabLinkActive]="true">{{"identity.credentials" | i18n}}</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'identityCertificatesTab'">{{"identity.certificates" | i18n}}</clr-tab-link>

    <clr-tab-content [clrTabContentId]="'identityCredentialsContent'" [clrTabContentActive]="true">
      <former-view path="credentials"></former-view>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'identityCertificatesContent'">
      <former-view path="certificates"></former-view>
    </clr-tab-content>
  </clr-tabs>
</div>