.form-group {
    padding-left: 0px;
}
.action-buttons {
    padding: 5px;
}
.row {
    width: 600px;
}
.left {
    width: 300px;
    float: left;
    padding: 5px;
}
.right {
    padding: 5px;
}
.clear {
    clear: both;
}
