<nav class="sidenav">
  <section class="sidenav-content">
      <a class="nav-link" allowNavigation [roles]="identityManagementRouteRestriction" routerLink="identity-management" routerLinkActive="active">Identity Management</a>
      <a class="nav-link" allowNavigation [roles]="projectsRouteRestriction" routerLink="projects" routerLinkActive="active">Projects</a>
      <a class="nav-link" allowNavigation [roles]="registriesRouteRestriction" routerLink="registries" routerLinkActive="active">Registries</a>
      <a class="nav-link" allowNavigation [roles]="configurationRouteRestriction" routerLink="configuration" routerLinkActive="active">Configuration</a>
      <a class="nav-link" allowNavigation [roles]="logsRouteRestriction" routerLink="logs" routerLinkActive="active">Logs</a>
  </section>
</nav>
<div class="content-area">
  <router-outlet></router-outlet>
</div>