@import "node_modules/clarity-ui/src/color/utils/colors.clarity";
@import "node_modules/clarity-ui/src/utils/variables.clarity";
@import 'node_modules/admiral-ui-common/css/variables';

grid-view {
  position: relative;

  .grid-content {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    @media (min-width: 576px) {
      top: 70px;
    }

    .card-item {
      display: block;
      max-width: 400px;
      min-width: 300px;
      position: absolute;
      margin-right: 40px;
      transition: width 0.4s, transform 0.4s;

      .card-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
        border-top: 1px solid #eee;
        transition: bottom 0.2s ease-in;
        background-color: white;
      }
    }

    .card-item:hover {
      z-index: 1;
      .card-footer {
        bottom: 0;
      }
    }

    .central-block-loading {
      z-index: 10;
    }
  }

  .items.list {
    .card-item {
      max-width: 100%;
    }

    .card {
      display: table;

      > * {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
      }

      .card-media-image {
        height: 30px;
        width: 30px;
      }
      .card-media-block {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
  }

  .title {
    @include view-title();
  }

  .content-empty {
    text-align: center;
    display: block;
    margin-top: 100px;
  }

  .toolbar {
    overflow: hidden;
    .toolbar-secondary {
      display: flex;
      > .separator {
        border-left: 1px solid #cccccc;
        width: 1px;
        margin: 12px 6px;
        height: 22px;
      }
      > .btn {
        padding: 0;
        min-width: 0;
        line-height: 30px;
        min-height: 0;
        width: 40px;
        height: 30px;
      }
      > search {
        flex: 1 2 auto;
      }
    }
  }

  .form-group {
    padding-left: 120px;
    display: flex;
    position: relative;
    > label:first-child {
      width: 100px;
      position: absolute;
      left: 0;
      text-align: right;
    }
    > div {
      width: 100%;
      overflow: hidden;
    }
  }
}