@import 'node_modules/admiral-ui-common/css/variables';
@import 'node_modules/admiral-ui-common/css/mixins';

grid-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .items {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    .card-item {
      display: block;
      max-width: 400px;
      min-width: 200px;
      position: absolute;
      margin-right: 40px;
      transition: width 0.4s, transform 0.4s;
    }

    .card-item:hover {
      z-index: 1;
    }
  }

  .items.list {
    .card-item {
      max-width: 100%;
    }

    .card {
      display: table;

      > * {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
      }

      .card-media-image {
        height: 30px;
        width: 30px;
      }
      .card-media-block {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
  }

  .title {
    @include view-title();
  }

  .content-empty {
    text-align: center;
    display: block;
    margin-top: 100px;
  }

  .toolbar {
    display: flex;
    > .btn {
      margin: 10px 0 0 0;
      padding: 0;
      min-width: 0;
      line-height: 20px;
      min-height: 0;
      width: 40px;
      height: 20px;
    }
    > search {
      flex: 1 2 auto;
    }
  }

  .form-group {
    padding-left: 120px;
    display: flex;
    position: relative;
    > label:first-child {
      width: 100px;
      position: absolute;
      left: 0;
    }
  }
}