.template-new-item-menu {
  height: 300px;

  .template-new-item {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  canvas {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}