@import "node_modules/clarity-ui/src/color/utils/colors.clarity";

.clusterAddress {
    font-size: 13px;
}

.clusterIcon {
    float: left;
    margin-bottom: 10px;
}

.titleHolder {
    display: inline-block;
    margin-left: 10px;
    height: 45px;
}

.progress-details {
    margin-top: 0px;
    line-height: 25px;
}

.status {
    font-weight: bold;
}

.status.ON {
    color: $clr-green;
}

.progress-meter.ON::before {
    background-color: $clr-green;
}

.status.OFF {
    color: $clr-red;
}

.progress-meter.OFF::before {
    background-color: $clr-red;
}

.status.DISABLED {
    color: $clr-yellow-dark-midtone;
}

.progress-meter.DISABLED::before {
    background-color: $clr-yellow-dark-midtone;
}

.status.WARNING {
    color: $clr-yellow;
}

.progress-meter.WARNING::before {
    background-color: $clr-yellow;
}