.selected-members-container {
    padding: 4px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    min-height: 120px;
}
a.clickable {
    cursor: pointer;
}

.searching {
    position: absolute;
    right: 0px;
    top: 10px;
}

.saving {
    display: inline;
    margin-left: 5px;
}

simple-search {
    width: 100%;
    margin-right: 30px;
}