 <clr-tabs>
    <clr-tab-link [clrTabLinkId]="'summaryTab'" [clrTabLinkActive]="true">Summary</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'membersTab'">Members</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'repositoriesTab'">Repositories</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'infrastructureTab'">Infrastructure</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'registryReplicationTab'">Registry Replication</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'configurationTab'">Configuration</clr-tab-link>

    <clr-tab-content [clrTabContentId]="'summaryContent'" [clrTabContentActive]="true">
        <p>Content for summary tab.</p>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'membersContent'">
        <p>Content for members tab.</p>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'repositoriesContent'">
        <hbr-repository [projectId]="hbrProjectId" [sessionInfo]="hbrSessionInfo"></hbr-repository>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'infrastructureContent'">
        <p>Content for infrastructure tab.</p>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'registryReplicationContent'">
        <hbr-replication [projectId]="hbrProjectId"></hbr-replication>
    </clr-tab-content>
    <clr-tab-content [clrTabContentId]="'configurationContent'">
        <p>Content for configuration tab.</p>
    </clr-tab-content>
</clr-tabs>