:host {
  a.close-button {
    cursor: pointer;
    text-decoration: none;
    z-index: 20;
    font-size: 14px;
    padding: 0;
  }

  a.close-button > .backtext {
    font-style: normal;
    position: relative;
    top: -1px;
    margin-left: 6px;
  }
  a.close-button i.fa-chevron-circle-left {
    font-size: 27px;
    width: 27px;
    text-align: center;
  }
}