@import 'node_modules/admiral-ui-common/css/variables';

:host {
  a.close-button {
    color: #bababa;
    cursor: pointer;
    text-decoration: none;
    z-index: 20;
    font-size: 14px;
    padding: 0;
    background-color: transparent;
  }

  a.close-button:hover {
    color: $main_color;
  }

  a.close-button > .backtext {
    visibility: hidden;
    font-style: normal;
    position: relative;
    top: -3px;
    font-weight: 300;
    margin-left: 8px;
  }
  a.close-button:hover > .backtext {
    visibility: visible;
  }
  a.close-button i.fa-chevron-circle-left {
    font-size: 27px;
    width: 27px;
    text-align: center;
  }
}