<div class="title"><span>{{hasSearchQuery ? titleSearch : title}}</span>
  <span v-if="count > -1" class="total-items">({{count}})</span>
  <div class="title-big-actions" v-if="!actionName" transition="fade-in">
    <slot></slot>
    <big-action-button :name="'refresh'"
                       :icon-name="'refresh'"
                       :label="i18n('refresh')"
                       :spinning="true"
      ></big-action-button>
  </div>
  <action-confirmation v-else :action-name="actionName"
                       :action-title="actionTitle"></action-confirmation>
</div>
