<div v-if="model" class="nav-bar">
  <template v-if="app === 'admiral'">
  <a v-bind:class="{'active': currentView === constants.VIEWS.HOSTS.name}"
     class="nav-item hosts" href="#/hosts">
    <img class="nav-item-image" src="image-assets/hosts.png">
    <span>{{i18n("app.navbar.hosts")}}</span>
  </a>
  <a v-bind:class="{'active': currentView === constants.VIEWS.PLACEMENTS.name}"
     class="nav-item placements" href="#/placements">
    <span class="nav-item-image"><i class="fa fa-pie-chart"></i></span>
    <span>{{i18n("app.navbar.placements")}}</span>
  </a>
  <a v-bind:class="{'active': currentView === constants.VIEWS.TEMPLATES.name}"
     class="nav-item templates" href="#/templates">
    <img class="nav-item-image" src="image-assets/templates.png">
    <span>{{i18n("app.navbar.templates")}}</span>
  </a>
  <a class="nav-item resources"
    v-bind:class="{'expanded': isExpanded(constants.VIEWS.RESOURCES)}"
    v-bind:href="'#/' + lastActiveViewByCategory[constants.VIEWS.RESOURCES.name]">
    <img class="nav-item-image" src="image-assets/resources.png">
    <span><span>{{i18n("app.navbar.resources")}}</span><span class="nav-category"><i class="fa"
            v-bind:class="{'fa-chevron-down': isExpanded(constants.VIEWS.RESOURCES),
            'fa-chevron-right': isCollapsed(constants.VIEWS.RESOURCES)}"></i></span></span>
  </a>
  <a v-bind:class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.CONTAINERS.name, 'hide': isCollapsed(constants.VIEWS.RESOURCES)}"
     class="nav-item inner containers" href="#/containers">
    <img class="nav-item-image" src="image-assets/resource-icons/container.png">
    <span>{{i18n("app.navbar.containers")}}</span>
  </a>
  <a v-bind:class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.APPLICATIONS.name, 'hide': isCollapsed(constants.VIEWS.RESOURCES)}"
     class="nav-item inner applications" href="#/applications">
    <img class="nav-item-image" src="image-assets/resource-icons/application.png">
    <span>{{i18n("app.navbar.applications")}}</span>
  </a>
  <a v-bind:class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.NETWORKS.name, 'hide': isCollapsed(constants.VIEWS.RESOURCES)}"
     class="nav-item inner networks" href="#/networks">
    <img class="nav-item-image" src="image-assets/resource-icons/network.png">
    <span>{{i18n("app.navbar.networks")}}</span>
  </a>
  <a v-bind:class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.CLOSURES.name && areClosuresAllowed(), 'hide': isCollapsed(constants.VIEWS.RESOURCES) || !areClosuresAllowed()}"
     class="nav-item inner closures" href="#/closures">
    <img class="nav-item-image" src="image-assets/closure-runs.png">
    <span>{{i18n("app.navbar.closures")}}</span>
  </a>
  </template>
  <template v-if="app === 'compute'">
    <a v-bind:class="{'active': currentView === computeConstants.VIEWS.COMPUTE.name}"
       class="nav-item compute" href="#/compute">
      <img class="nav-item-image" src="image-assets/hosts.png">
      <span>{{i18n("app.navbar.compute")}}</span>
    </a>
    <a v-bind:class="{'active': currentView === computeConstants.VIEWS.PLACEMENTS.name}"
       class="nav-item placements" href="#/placements">
      <span class="nav-item-image"><i class="fa fa-pie-chart"></i></span>
      <span>{{i18n("app.navbar.placements")}}</span>
    </a>
    <a v-bind:class="{'active': currentView === computeConstants.VIEWS.ENVIRONMENTS.name}"
       class="nav-item templates" href="#/environments">
      <img class="nav-item-image" src="image-assets/templates.png">
      <span>{{i18n("app.navbar.environments")}}</span>
    </a>
    <a class="nav-item resources"
       v-bind:class="{'expanded': isExpanded(computeConstants.VIEWS.RESOURCES)}"
       v-bind:href="'#/' + computeLastActiveViewByCategory[computeConstants.VIEWS.RESOURCES.name]">
      <img class="nav-item-image" src="image-assets/resources.png">
    <span><span>{{i18n("app.navbar.resources")}}</span><span class="nav-category"><i class="fa"
      v-bind:class="{'fa-chevron-down': isExpanded(computeConstants.VIEWS.RESOURCES),
      'fa-chevron-right': isCollapsed(computeConstants.VIEWS.RESOURCES)}"></i></span></span>
    </a>
    <a v-bind:class="{'active': currentView === computeConstants.VIEWS.RESOURCES.VIEWS.MACHINES.name, 'hide': isCollapsed(computeConstants.VIEWS.RESOURCES)}"
       class="nav-item inner machines" href="#/machines">
      <img class="nav-item-image" src="image-assets/resource-icons/machines.png">
      <span>{{i18n("app.navbar.machines")}}</span>
    </a>
    <a v-bind:class="{'active': currentView === computeConstants.VIEWS.RESOURCES.VIEWS.NETWORKS.name, 'hide': isCollapsed(computeConstants.VIEWS.RESOURCES)}"
       class="nav-item inner networks" href="#/networks">
      <img class="nav-item-image" src="image-assets/resource-icons/network.png">
      <span>{{i18n("app.navbar.networks")}}</span>
    </a>
    <a v-bind:class="{'active': currentView === computeConstants.VIEWS.ENDPOINTS.name}"
       class="nav-item templates" href="#/endpoints">
      <span class="nav-item-image"><i class="fa fa-cloud"></i></span>
      <span>{{i18n("app.navbar.endpoints")}}</span>
    </a>
  </template>
</div>
