<nav class="sidenav" v-if="model">
  <section v-if="application === 'admiral'" class="sidenav-content">
    <section class="nav-group collapsible">
      <input id="nav-category-resources" type="checkbox">
      <label for="nav-category-resources">{{i18n("app.navbar.resources")}}</label>
      <ul class="nav-list">
        <li><a class="nav-link" data-cmd="navigation-{{constants.VIEWS.HOSTS.name}}"
               :class="{'active': currentView === constants.VIEWS.HOSTS.name}"
               href="#/hosts">{{i18n("app.navbar.hosts")}}</a></li>
        <li><a class="nav-link" data-cmd="navigation-credentials">Credentials</a></li>
        <li><a class="nav-link" data-cmd="navigation-certificates">Certificates</a></li-->
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="nav-category-policies" type="checkbox">
      <label for="nav-category-policies">{{i18n("app.navbar.policies")}}</label>
      <ul class="nav-list">
        <li><a class="nav-link" data-cmd="navigation-{{constants.VIEWS.PLACEMENTS.name}}"
               :class="{'active': currentView === constants.VIEWS.PLACEMENTS.name}"
               href="#/placements">{{i18n("app.navbar.placements")}}</a></li>
        <!--li><a class="nav-link" data-cmd="navigation-placement-zones">Placement Zones</a></li-->
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="nav-category-templates" type="checkbox">
      <label for="nav-category-templates">{{i18n("app.navbar.templates")}}</label>
      <ul class="nav-list">
        <li><a class="nav-link" data-cmd="navigation-{{constants.VIEWS.TEMPLATES.name}}"
               :class="{'active': currentView === constants.VIEWS.TEMPLATES.name}"
               href="#/templates">{{i18n("app.navbar.templates")}}</a></li>
        <li><a class="nav-link" data-cmd="navigation-{{constants.VIEWS.REGISTRIES.name}}"
               :class="{'active': currentView === constants.VIEWS.REGISTRIES.name}"
              href="#/registries">{{i18n("app.navbar.registries")}}</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="nav-category-deployment" type="checkbox">
      <label for="nav-category-deployment">{{i18n("app.navbar.deployment")}}</label>
      <ul class="nav-list">
        <li v-if="isFeatureEnabled('projects')"><a class="nav-link"
               data-cmd="navigation-{{constants.VIEWS.RESOURCES.VIEWS.PROJECTS.name}}"
               :class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.PROJECTS.name}"
               href="#/projects">{{i18n("app.navbar.projects")}}</a></li>
        <li><a class="nav-link" data-cmd="navigation-{{constants.VIEWS.RESOURCES.VIEWS.APPLICATIONS.name}}"
               :class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.APPLICATIONS.name}"
               href="#/applications">{{i18n("app.navbar.applications")}}</a></li>
        <li><a class="nav-link" data-cmd="navigation-{{constants.VIEWS.RESOURCES.VIEWS.CONTAINERS.name}}"
               :class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.CONTAINERS.name}"
               href="#/containers">{{i18n("app.navbar.containers")}}</a></li>
        <li><a class="nav-link" data-cmd="navigation-{{constants.VIEWS.RESOURCES.VIEWS.NETWORKS.name}}"
               :class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.NETWORKS.name}"
               href="#/networks">{{i18n("app.navbar.networks")}}</a></li>
        <li><a class="nav-link" data-cmd="navigation-{{constants.VIEWS.RESOURCES.VIEWS.VOLUMES.name}}"
               :class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.VOLUMES.name}"
               href="#/volumes">{{i18n("app.navbar.volumes")}}</a></li>
        <li v-if="isFeatureEnabled('closures')"><a class="nav-link"
               data-cmd="navigation-{{constants.VIEWS.RESOURCES.VIEWS.CLOSURES.name}}"
               :class="{'active': currentView === constants.VIEWS.RESOURCES.VIEWS.CLOSURES.name}"
               href="#/closures">{{i18n("app.navbar.closures")}}</a></li>
       </ul>
    </section>
  </section>
</nav>
