.closure-form {
  position: absolute;
  overflow: auto;
  right: 40px;
  left: 20px;
  top: 20px;
  bottom: 0;
  margin-top: 20px;
}

.closure-form > .title {
  font-size: 26px;
}

.container-definition-form .form-group .form-control.multicolumn-inputs {
  height: auto;
  height: auto;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.closure-definition-form .form-group .form-control.multicolumn-inputs {
  height: auto;
  height: auto;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.container-network-expose-service-input .tooltip-inner {
  max-width: 300px;
}

.disabledTab{
    pointer-events: none;
}
