.closure-form {
  position: absolute;
  overflow: auto;
  right: 20px;
  left: 20px;
  top: 20px;
  margin-top: 20px;
}

.closure-form > .title {
  font-size: 26px;
}

.container-definition-form .closure-form-content {
  background-color: #FFFFFF;
  margin-top: 5px;
}

.container-definition-form .tab-content {
  padding: 30px;
}

.container-definition-form .form-group {
  margin-right: 15px;
  position: relative;
}

.container-definition-form .form-group .control-label {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
}

.container-definition-form .form-group .form-control.multicolumn-inputs {
  height: auto;
  height: auto;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.container-definition-form .form-group > .fa-question-circle {
  @extend .hint;
  position: absolute;
  top: 6px;
  right: -12px;
}

.closure-definition-form .container-form-content {
  background-color: #FFFFFF;
}

.closure-definition-form .tab-content {
  padding: 30px;
}

.closure-definition-form .form-group {
  margin-right: 15px;
  position: relative;
}

.closure-definition-form .form-group .control-label {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
}

.closure-definition-form .form-group .form-control.multicolumn-inputs {
  height: auto;
  height: auto;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.closure-definition-form .form-group > .fa-question-circle {
  position: absolute;
  top: 6px;
  right: -12px;
  color: $link_color;
  font-size: 20px;
}

.closure-form .control-btns {
  margin-top: 20px;
}

.closure-form .control-btns > * {
  margin-left: 20px;
}

.closure-form .control-btns .btn {
  padding-left: 30px;
  padding-right: 30px;
}

.container-health-path-input .input-group {
  display: flex;
}

.container-health-path-input .input-group > select {
  border-radius: 0;
  width: auto;
  min-width: 90px;
}

.container-network-expose-service-input .tooltip-inner {
  max-width: 300px;
}

.disabledTab{
    pointer-events: none;
}
