.container-form {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow: auto;
}

.container-form > .title {
  font-size: 26px;
}

.tag-separator {
  position:absolute;
  left: -2px;
  top:-3px;
}

#health-continue-provisionig-on-error {
  margin-bottom: 40px;
}

.container-health-path-input .input-group {
  display: flex;
  width: 100%;
}

.container-health-path-input .input-group > .select {
  border-radius: 0;
  width: auto;
  min-width: 90px;
}

.container-health-path-input .input-group .httpVersion {
  border-radius: 0;
  width: auto;
  min-width: 105px;
}

.container-network-expose-service-input .tooltip-inner {
  max-width: 300px;
}