.container-form {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow: auto;
}

.container-form > .title {
  font-size: 26px;
}

.container-definition-form .container-form-content {
  background-color: #FFFFFF;
  margin-top: 5px;
}

.container-definition-form .tab-content {
  padding: 30px;
}

.container-form .control-btns {
  margin-top: 20px;
}

.container-form .control-btns > * {
  margin-left: 20px;
}

.container-form .control-btns .admiral-btn {
  padding-left: 30px;
  padding-right: 30px;
}

.container-health-path-input .input-group {
  display: flex;
}

.container-health-path-input .input-group > select {
  border-radius: 0;
  width: auto;
  min-width: 90px;
}

.container-health-path-input .input-group .httpVersion {
  border-radius: 0;
  width: auto;
  min-width: 105px;
}

.container-network-expose-service-input .tooltip-inner {
  max-width: 300px;
}