.delete-inline-item-confirmation-holder {
  display: block;
  min-width: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.delete-inline-item-confirmation-holder .delete-inline-item-confirmation {
  display: table;
  height: 100%;
  width: 100%;
}

.delete-inline-item-confirmation-holder .delete-inline-item-confirmation-option {
  width: 50%;
  height: 100%;

  display: table-cell;
  vertical-align: middle;
  max-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: #fff;
  text-decoration: none;
}

.delete-inline-item-confirmation-holder .delete-inline-item-confirmation-option div {
  text-align: center;
  padding: 2px;

  a {
    color: #fff;
    word-wrap: break-word;

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    :hover {
      text-decoration: underline;
    }
  }
}

.hideVisibility {
  visibility: hidden;
}

.delete-inline-item-confirmation-holder .delete-inline-item-confirmation-cancel {
  @extend .delete-inline-item-confirmation-option;
  background-color: $secondary_inactive_button_color;
}

.delete-inline-item-confirmation-holder .delete-inline-item-confirmation-confirm {
  @extend .delete-inline-item-confirmation-option;
  background-color: $status_stopped_color;
}

.delete-inline-item-confirmation-option .fa-spinner {
//  margin-left: 2px;
  position: absolute;
  right: 4px;
  top: 28px;
}

.table-actions .delete-inline-item-confirmation-option .fa-spinner {
  //  margin-left: 2px;
  position: absolute;
  right: 2px;
  top: 26px;
}


.not-underlined {
  text-decoration: none !important;
}