@import "components/inline-delete-confirmation";

.list-view .toolbar {
  position: relative;
  margin-right: 45px;
}

.list-view .toolbar .query-search-input {
  margin-right: 310px;
}

.compute-view .list-view .toolbar .query-search-input {
  margin-right: 0;
}

.list-view .toolbar > .btn-primary,
.list-view .toolbar > .btn-outline,
.list-view .title > .btn-primary,
.list-view .title > .btn-outline {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 20px;
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 36px;
  height: 36px;
  width: 280px;
  text-align: center;
}

.list-view .toolbar > .btn .fa {
  margin-right: 10px;
  font-size: 21px;
  transform: translate(0, 1px);
}

.list-view .grid-container {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;

  .loading,  {
    z-index: 1;
  }
}

.list-view .grid-container:hover {
  overflow-y: auto;
}

.scroll-view .grid-container:hover {
  overflow-y: hidden;
}

.scroll-view .grid-container .content {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  margin-bottom: -60px;
  border-bottom: 60px solid transparent;
}

.scroll-view .grid-container .content + .loading,  {
  height: 100%;
  margin-bottom: -60px;
  padding-bottom: 60px;
  top: 60px;
}

// Leave some space for the error banner
.images-view .list-view.error-shown .grid-container {
  top: 120px;
}

// Leave some space for the error banner
.list-view.error-shown .grid-container {
  top: 120px;
}

.list-view .grid-container > .title, .list-view .grid-container > .title-search,  {
  @include view-title();
}

.list-view .grid-container .total-items {
  font-size: 16px;
  margin-left: 4px;
}

.list-view .grid-container .category-filter {
  position: absolute;
  right: 50px;
  top: 15px;

  .title {
    color: $secondary_inactive_button_color;
  }

  a {
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
  }

  a:hover {
    text-decoration: none;
    color: $link_color;
  }
  a.active, a.active:hover, a.active:focus {
    color: #000000;
    pointer-events: none;
    text-decoration: none;
  }

  a:not(:first-of-type) {
    border-left: 1px solid $secondary_inactive_button_color;
  }
}

.list-view .grid-container .toolbar-actions {
  position: absolute;
  right: 50px;
  top: 10px;
}

.list-view .grid {
  position: relative;
}

.list-view .grid-item {
  position: absolute;
  min-width: 270px;
  max-width: 370px;
  border: 2px solid $main-border-color;
  border-radius: 5px;
  margin: 0 40px 40px 0;
  .fa-lock {
    color: #cccccc;
    margin-left: -5px;
    margin-right: 5px;
  }
  .status {
    background-color: #f3f3f3;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .status.RUNNING, .status.CONNECTED {
    color: $status_running_color;
  }
  .status.REBOOTING {
    color: $status_rebooting_color;
  }
  .status.STOPPED {
    color: $status_stopped_color;
  }
  .status.RETIRED {
    color: $secondary_inactive_button_color;
  }
  .status.ON {
    color: $status_running_color;
  }
  .status.OFF {
    color: $status_stopped_color;
  }
  .status.DISABLED {
    color: $status_suspended_color;
  }
  .status-state {
    font-weight: bold;
  }
  .status.FINISHED {
    color: $status_running_color;
  }
  .status.FAILED {
    color: $status_stopped_color;
  }

  .btn-group {
    button {
      margin: 0;
    }
  }
}

.list-view > .grid-container {
  > .content > .grid > .grid-item,
  > .grid > .grid-item {
    @include transition(width 0.4s, transform 0.4s);
  }
}

.list-view .grid-item:hover {
  -webkit-box-shadow: 0px 2px 10px 1px $main-border-color;
  -moz-box-shadow: 0px 2px 10px 1px $main-border-color;
  box-shadow: 0px 2px 10px 1px $main-border-color;
}

.containers-view .container-item .container-header .title-holder .truncateText {
  color: #000;
}
.hosts-view, .machines-view, .compute-view, .environments-view {
  .list-holder {
    > .main-panel {
      @extend .position-expand;
    }
    > .right-context-panel {
      @extend .position-expand;
      left: 100%;
    }
  }

  .list-holder.right-context-expanded {
    > .main-panel {
      right: 30%;
    }
    > .right-context-panel {
      left: 70%;
    }
  }
}

.list-view .grid-item .title {
  font-size: 22px;
}
.list-view .grid-item .closure-title {
  font-size: 18px;
}
.list-view .grid-item .image-tag {
  font-weight: 300;
}

.hosts-view, .machines-view, .compute-view, .environments-view {
  .list-view .grid-item .stats-holder {
    position: relative;
  }

  .list-view .grid-item .stats-holder .progress {
    height: 10px;
    position: absolute;
    right: 40px;
    left: 0;
    top: 3px;
  }

  .list-view .grid-item .stats-holder .help-text {
    font-size: $stats_holder_font_size;
    line-height: 14px;
    visibility: hidden;
    position: absolute;
    right: 0;
  }

  .list-view .grid-item:hover .stats-holder .help-text {
    visibility: visible;
  }

  .list-view .grid-item .title {
    padding-top: 10px;
    padding-left: 10px;
  }

  .list-view .grid-item .details {
    margin: 10px;
  }

  .list-view .grid-item .details .form-group {
    margin-bottom: 5px;
  }

  .list-view .grid-item .details .form-group label {
    color: $secondary_hint_title_color;
    font-weight: normal;
  }

  .list-view .environment-item .delete-inline-item-confirmation-holder,
  .list-view .host-item .delete-inline-item-confirmation-holder {
    @extend .item-delete-confirmation;
  }

  .list-view .host-item {
    > .title, > .status {
      position: relative;
    }
  }

  .list-view .environment-item:hover .actions,
  .list-view .compute-item:hover .actions,
  .list-view .host-item:hover .actions,
  .list-view .machine-item:hover .actions {
    display: block;
  }
}

/* Environments */


.environments-view {
  .list-view .environment-item {
    @include container-image-header-icons(48px);
    .image-header {
      position: relative;
      margin: 20px;
      height: 48px;
    }
    .details {
      margin: 20px;
    }
  }
}

/* Images */

.images-view {
  .list-view .toolbar {
    margin-right: 62px;
  }
  .list-view .grid-container .category-filter {
    right: 42px;
  }
  .list-view .image-item {
    margin: 20px;
  }
  .list-view .image-item hr {
    margin-left: -20px;
    margin-right: -20px;
  }
  .list-view .image-item .image-content {
    font-weight: 300;
    margin-bottom: 10px;
    min-height: 100px;
  }
  .list-view .grid-item {
    background-color: #FFFFFF;
  }

  .list-view .highlight-item {
    padding: 0;
    margin-left: 15px;
    border: none;
  }

  .list-view .highlight-item.success {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(102,153,0,0.35);
    -moz-box-shadow: 0px 0px 15px 5px rgba(102,153,0,0.35);
    box-shadow: 0px 0px 15px 5px rgba(102,153,0,0.35);
  }
  .list-view .highlight-item.fail {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(153, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 15px 5px rgba(153, 0, 0, 0.35);
    box-shadow: 0px 0px 15px 5px rgba(153, 0, 0, 0.35);
  }

  .list-view .grid-item .alert {
    @extend .truncateText3Lines;

    position: relative;
    left: 0px;
    width: 100%;
    margin-bottom: -10px;

    border-radius: 5px 5px 2px 2px;

    letter-spacing: 0.05em;

    font-size: 14px;
    font-weight: 500;

    .fa-check {
      font-size: 16px;
    }
  }

  .list-view .grid-item {
    .success {
      color: #fff;
      background-color: $brand-success;
    }

    .fail {
      color: #fff;
      background-color: $status_stopped_color;
    }
  }

  .list-view .image-item {
    .image-header {
      position: relative;
    }

    @include container-image-header-icons(50px);
  }

  .list-view .image-item .image-header > .title-holder {
    margin-left: 60px;
  }

  .list-view .image-item .image-content .label {
    color: $secondary_hint_title_color;
  }

  .list-view .image-item .image-content .image-label, .image-description-text {
    color: #999;
    padding-right: 10px;
  }
  .list-view .image-item .image-content .image-label +span {
    @extend .truncateText;
  }

  .list-view .image-item .image-content .image-description-text {
    top: 5px;

    @extend .truncateText2Lines;
  }

  .list-view .container-content .closure-description-text {
    min-height: 145px;

    @extend .image-description-text;
  }

  .list-view .closure-description-text {
    min-height: 110px;

    @extend .image-description-text;
  }

  .list-view .image-item .image-content .image-description {
    color: $secondary_hint_title_color;
    margin-top: 10px;
  }

  .list-view .image-item .dropdown > .btn.dropdown-toggle .caret {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
  }

  .list-view .grid-item.active .container-links {
    height: auto;
    max-height: 200px;
  }
}
/* Containers */

.list-view .container-item,
.list-view .image-item,
.list-view .cluster-item,
.list-view .composite-container-item,
.list-view .composite-closure-item,
.list-view .container-template-item, .list-view .closure-template-item {
  z-index: 0;

  .container-header {
    height: 50px;
  }

  @include container-image-header-icons(50px);

  .container-header, .container-content {
    margin: 15px;
    position: relative;
  }

  .container-header {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .container-header > .title-holder {
    margin-left: 60px;
    position: relative;
    top: -3px;
  }

  .container-content .label {
    color: $secondary_hint_title_color;
  }

  .container-content .container-label {
    color: #999;
    padding-right: 5px;
    font-weight: 200;
    letter-spacing: 0.02em;
  }

  .relations-holder {
    height: 30px;
    margin: 0 15px;
  }

  .container-content .container-ports-holder {
    margin-top: 20px;
  }

  .container-content .container-links-holder {
    position: relative;
    padding: 0px;
    margin-top: 20px;
  }

  .container-content .container-cluster-holder {
    margin-top: 5px;
  }

  .container-links {
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
  }

  .links-form {
    display: none;

    input {
      margin-bottom: 5px;
    }
  }

  .container-content .container-command-holder {
    height: 40px;

    @extend .truncateText2Lines;
  }
  .container-content .container-command-holder > span:last-child {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
  }

  .container-content .container-containers-holder .cluster-containers-names {
    max-height: 110px;
    display: block;
    overflow: auto;
  }

  .container-actions, .image-actions {
    @extend .actions;
  }

  .delete-inline-item-confirmation-holder {
    @extend .item-delete-confirmation;
  }

  .container-secondary-actions {
    float: right;
    display: none;
    margin-bottom: 2px;

    .action {
      display: inline;
    }
  }

  .container-resource-relations {
    position: absolute;
    bottom: -10px;
    left: 90px;

    .container-resource-anchor {
      display: inline-block;
      width: 40px;
      cursor: pointer;
    }
  }

  .link-actions {
    position: absolute;
    top: -1px;
    right: -1px;
    padding-top: 5px;

    .action {
      display: inline-block;
      border: none;
      padding: 2px;
      color: $main_color;

      .btn {
        background-color: $main_color;
      }
    }
  }

  .link-item-actions {
    position: absolute;
    top: 0px;
    right: 15px;
    display: none;

    .action {
      display: inline;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .link-item-actions:hover {
    display: inline;
  }

  .add-link-title {
    padding-top: 5px;
    padding-bottom: 5px;
    color: $main_color;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .template-links .row {
    position: relative;
    z-index: 1;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .template-links .delete-inline-item-confirmation-holder {
    z-index: 2;
    right: 15px;
    width: 150px;
  }

  .template-links .row:hover .link-item-actions {
    display: block;
    z-index: 1;
  }
}

.list-view.containers-list .cluster-item {
  background-color: #ffffff;
  height: 100%;
}

.list-view.containers-list .grid-item.active {
  z-index: 1;
}

.list-view.containers-list .grid-item.marked {
  border-color: $main-color-80;
  @include box-shadow(0px 2px 10px 1px $main-color-semi);
}

.list-view.containers-list:not(.context-selected) {
  $heightOfListViewItem: 160px;
  .container-item .container-content {
    height: $heightOfListViewItem;
    overflow-y: auto;
  }
  .cluster-item .container-content {
    height: $heightOfListViewItem;
    overflow-y: auto;
  }
  .composite-container-item .container-content {
    height: $heightOfListViewItem;
    overflow-y: auto;
  }
  .composite-closure-item .container-content {
    height: $heightOfListViewItem;

    .relations-holder {
      position: absolute;
      bottom: 5px;
    }
  }
}

.list-view .grid-item:hover {
  z-index: 2;
  .container-actions, .image-actions {
    display: block;
  }
  .container-secondary-actions {
    display: block;
  }
}

.images-view.right-context-expanded {
  > .selected-context-holder > .content > .template-details > .details-contents > .list-view {
    right: 30%;
  }
}

.containers-view.right-context-expanded, .images-view.right-context-expanded {
  > .list-holder {
    right: 30%;
  }

  > .right-context-panel {
    left: 70%;
  }
}

.containers-view {
  > .list-holder {
    @extend .position-expand;
    z-index: 1;
  }
  > .right-context-panel {
    @extend .position-expand;
    left: 100%;
    z-index: 100;
  }

  .list-view {
    .close-button {
      display: none;
      margin-bottom: 5px;
    }
    .toolbar {
      @extend .item-shown-for-collapse-animation;
    }
    .grid-container {
      @include transition(transform 0.4s);
      > .title, > .title-search {
        @extend .item-shown-for-collapse-animation;
      }
    }
  }

  .create-container > .content, .create-project  > .content,
  .create-network > .content, .create-volume > .content,
  .create-kubernetes > .content {
    top: 35px;
    left: 20px;

    .title {
      font-size: 26px;
    }
  }

  .closable-view {
    background-color: $main_background_color;

    .content {
      right: 0px;
      bottom: 0px;
    }
  }

  .closable-view.expanded {
    left: 0;
    > .close-button {
      display: none;
    }

    > .composite-child-containers-view {
      background-color: white;
    }
  }

  .composite-container-item {
    .child-containers > .child-container {
      display: none;
    }
  }

  .composite-child-containers-view {
    @extend .position-expand;
    background-color: $main_background_color;

    @include transition(background-color 0.4s);
    .list-view {
      margin-top: 0px;
    }

    .list-view .close-button {
      display: block;
      margin: 5px 0px 5px 0px;
    }

    .list-view .grid-container {
      top: 35px;

      .grid-item {
        background-color: #ffffff;

        .container-item .relations-holder {
          display: none;
        }
      }
    }
  }

  .composite-child-closures-view {
    @extend .position-expand;
    background-color: $main_background_color;

    @include transition(background-color 0.4s);

    .list-view .grid-container {
      top: 10px;

      .grid-item {
        background-color: #FFFFFF;

        .container-item .relations-holder {
          display: none;
        }
      }
    }
  }

  .selected-context-holder.closable-view {
    > .content {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: initial;
    }
  }
}

.images-view {
  .closable-view {
    background-color: $context-view-background-color;
  }

  > div {
    height: 100%;
  }

  > .list-holder {
    @extend .position-expand;
    z-index: 1;
  }

  > .right-context-panel {
    @extend .position-expand;
    left: 100%;
    z-index: 100;
  }
}

$template-details-right: 20px;


.template-details .list-view {
  top: 0;
  left: 0;
  right: 5px;
}

.grid-item {
  z-index: 1;
}

.template-details .list-view .new-item.grid-item {
  background-color: #F9F9F9;
  font-size: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  cursor: pointer;
  color: #CDCDCD;
  height: 320px;

  .item-content {
    @extend .position-expand;
    transform: translate(0, 0) rotate(0) scale(1);
    @include transition(transform 0.5s);
  }
  .title {
    line-height: normal;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    opacity: 0;
    @include transition(opacity 0.5s 0.2s);
    font-size: 30px;
  }
}

.template-details .template-new-item-menu {
  height: 100%;

  .template-new-item {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  canvas {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

.template-details .list-view .new-item.grid-item:hover {

  .item-content.left {
    transform: translate(-80px, 0) scale(0.5);
  }

  .item-content.right {
    transform: translate(80px, 0) scale(0.5);
  }

  .item-content:hover {
    color: $main_color;
  }

  .title {
    opacity: 1;
  }
}

.template-details .title {
  font-size: 22px;
}

.template-details .details-contents .title {

  .template-name, .template-name-input {
    font-style: italic;
    font-size: 20px;
  }

  .template-name {
    cursor: pointer;
  }
  .template-name:hover + .editBtn {
    color: #224662;
  }

  .template-name-input {
    display: inline;
    width: 40%;
  }

  .template-name-content {
    margin-left: 10px;
    display: inline;
    padding-right: 5px;

    .editBtn {
      padding: 0px;
    }
  }
}

$elements-margin: 20px;
$elements-side-margin: $elements-margin / 2;

.template-details {
  @extend .position-expand;
  background-color: $context-view-background-color;

  .template-details-header {
    overflow: hidden;
  }

  .template-details-header .title {
    font-size: 26px;
    line-height: 50px;
    float: left;
    max-width: 50%;
  }
  .template-details-header .editBtnHolder {
    float: left;
    line-height: 50px;
  }

  .template-details-header .toolbar-actions {
    float: right;
    display: flex;
    margin-top: 10px;
    margin-right: 40px;

    .progress-holder {
      margin-top: 5px;
      margin-right: 20px;
    }

    .fa-spin {
      margin-left: 10px;
    }
  }
}

.new-container-definition-view .list-view {
  top: 60px;
}

.new-container-definition-view .list-view .toolbar .query-search-input {
  margin-right: 20px;
}

.template-details .edit-container-definition-view {
  margin-top: 31px;
}

.template-details .edit-container-definition-view,
.template-details .edit-existing-container-definition-view,
.template-details .new-container-definition-view,
.template-details .edit-network,
.template-details .edit-volume,
.template-details .edit-kubernetes {
  z-index: 102;
}

.images-view .template-details.closure-form {
  overflow: auto;
  z-index: 102;
}

.template-details .edit-network.closable-view .control-btns,
.template-details .edit-volume.closable-view .control-btns {
  margin-right: 20px;
}

.template-details .add-closure.closable-view .closure-form {
  margin-right: $template-details-right;
}

.template-details .add-closure.closable-view {
  margin-right: $template-details-right;
}

.template-details .add-closure.closable-view {
  > .content {
    @extend .position-expand;
    z-index: 1;
    > .mask {
      display: none;
    }
  }
  > .right-context-panel {
    @extend .position-expand;
    z-index: 2;
    left: 100%;
    top: -10px;
    > .content {
      top: 40px;
    }
  }
}

.grid-item.container-template-item.closure {
  position: relative;
}

.template-details .add-closure.closable-view.right-context-expanded {
  > .content {
    > .mask {
      display: block;
    }
  }
  > .right-context-panel {
    left: 45%;
  }
}

.closure-logs .centeredLabel {
  text-align: center;
}

.closable-view .closure-logs {
  margin-top: 80px;
}

.closable-view .closure-logs .td {
  vertical-align:top;
}

.template-details .control-btns {
  margin-top: 20px;
  margin-bottom: 20px;
}

.template-details .control-btns .btn {
  padding-left: 30px;
  padding-right: 30px;
}

.list-view.containers-list .container-item .container-content {
  margin-top: 20px;
}

.placements-view, .environments-view, .center-view > .endpoints-view, .registry-view {
  > .main-panel {
    @extend .position-expand;
    z-index: 1;
    > .title {
      @include view-title();
      margin: 30px 0 20px 45px;
      z-index: 1;
      position: absolute;
      > .total-items {
        font-size: 16px;
        margin-left: 4px;
      }
    }
    > .mask {
      display: none;
    }
    > .list-holder {
      margin: 10px 0 35px 25px;
      overflow: hidden !important;
      .toolbar {
        margin: 0 50px 25px 0;
      }
      .inline-editable-list {
        right: 0 !important;
        > .title {
          font-size: 28px;
          margin-top: -10px;
        }
      }
      .inline-editable-list-table {
        overflow: auto;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0px;
        bottom: 0;
        padding-right: 40px;
        > table {
          margin-top: 0;
        }
      }
    }
  }
  > .right-context-panel {
    @extend .position-expand;
    z-index: 2;
    left: 100%;
  }
}

.placements-view.right-context-expanded {
  > .main-panel {
    > .mask {
      display: block;
    }
  }
  > .right-context-panel {
    left: 55%;
  }

  > .right-context-panel.right-context-expanded {
    left: 0;
  }
}

.placement-zones-view {
  > .main-panel {
    @extend .position-expand;
    z-index: 1;
    > .mask {
      display: none;
    }
  }
  > .right-context-panel {
    @extend .position-expand;
    z-index: 2;
    left: 100%;
  }
}

.placement-zones-view.right-context-expanded {
  > .main-panel {
    > .mask {
      display: block;
    }
  }
  > .right-context-panel {
    left: 55%;
  }
}

.card-item-stack {
  position: absolute;
  /* Neutralize borders */
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: 0;

  border-radius: 5px;
}

.card-item-stack > div {
  position: absolute;

  top: -2px;
  left: -2px;
  right: 3px;
  bottom: 2px;

  background-color: #ffffff;

  border: 1px solid $main-border-color;
  border-radius: 5px;
}

.kubernetes-template-item {
  .image-content {
    max-height: 200px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

$container-stack-margin: 2px;
$small-container-stack-margin: 1px;
$thresshold: 5;
@for $container from 1 through 10 {
  $scaleContainer: $container;
  $offset: $scaleContainer * $container-stack-margin;

  @if $scaleContainer > $thresshold {
    $offset: $thresshold * $container-stack-margin + ($scaleContainer - $thresshold) * $small-container-stack-margin;
    /* smaller offset, so we have to lighten the border color, not to become too dark when items
    are too close */
    .card-item-stack > div:nth-child(#{$container}) {
      border-color: lighten($main-border-color, 7%)
    }
  }

  .card-item-stack > div:nth-child(#{$container}) {
    transform: translateX($offset) translateY($offset);
    z-index: 20-$container;
  }
}
