$elements-margin: 20px;
$elements-side-margin: $elements-margin / 2;

.machine-details {
  @extend .position-expand;
  background-color: $context-view-background-color;

  > .machine-details-header {
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
    margin-left: $elements-side-margin;
  }

  .machine-details-header-small {
    font-size: 16px;
    float: left;
  }

   .machine-details-header-small:not(:first-child) {
    margin-top: $elements-margin;
  }

  > .content {
    position: absolute;
    top: 70px;
    bottom: $elements-margin;
    left: $elements-side-margin;
    right: $elements-side-margin;
  }

  .content > .machine-details-properties {
    top: 0;
    bottom: 0;
    left: 40%;
    margin-right: $elements-side-margin;
    overflow: auto;
    z-index: 1;
    right: 0;
    position: absolute;
  }

  .content > .machine-details-usages {
    top: 0px;
    bottom: 0;
    left: 0;
    margin-right: $elements-side-margin;
    overflow: auto;
    z-index: 1;
    right: 60%;
    position: absolute;
  }

  .machine-details-usages .machine-stats {
    position: absolute;
    left: 0px;
    right: 20px;
    height: 300px;
  }

  .machine-details-usages .machine-stats > div {
    @extend .position-expand;
  }

  .machine-details-usages .machine-stats > div.info .radial-progress-arc {
    fill: $brand-info;
  }

  .machine-details-usages .machine-stats > div.warning .radial-progress-arc {
    fill: $brand-warning;
  }

  .machine-details-usages .machine-stats > div.danger .radial-progress-arc {
    fill: $brand-danger;
  }

  .machine-details-usages .machine-stats .cpu-stats {
    left: 0;
    right: 55%;
  }

  .machine-details-usages .machine-stats.no-network-stats .cpu-stats {
      right: 55%;
  }

  .machine-details-usages .machine-stats .memory-stats {
    left: 55%;
    right: 0;
  }

  .machine-details-usages .machine-stats.no-network-stats .memory-stats {
      left: 55%;
  }

  .machine-details-usages .machine-stats .network-stats {
    left: 35%;
    right: 35%;
  }
  .machine-stats .network-stats svg {
    position: absolute;
  }

  .machine-stats .network-stats .network-traffic-labels {
    text-anchor: middle;
  }

  .machine-stats .network-stats .network-traffic-labels .network-traffic-received-label tspan.arrow {
    font-family: FontAwesome;
    fill: $brand-info
  }

  .machine-stats .network-stats .network-traffic-labels .network-traffic-sent-label tspan.arrow {
    font-family: FontAwesome;
    fill: $brand-danger;
  }

  .machine-details-endpoint-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .status.RUNNING, .status.CONNECTED {
    color: $status_running_color;
  }
  .status.REBOOTING {
    color: $status_rebooting_color;
  }
  .status.STOPPED {
    color: $status_stopped_color;
  }
  .status.RETIRED {
    color: $secondary_inactive_button_color;
  }
  .status.ON {
    color: $status_running_color;
  }
  .status.OFF {
    color: $status_stopped_color;
  }
  .status.DISABLED {
    color: $status_suspended_color;
  }
  .status.FINISHED {
    color: $status_running_color;
  }
  .status.FAILED {
    color: $status_stopped_color;
  }
  .status-state {
    font-weight: bold;
    margin-left: $elements-side-margin;
    display: inline-block;
  }

  td {
    text-align: left;
  }
}

.machine-details:hover .maximizableControl .maximizableControlToggle {
  display: block;
}