$scrollbarOffset: 15px;
$rightMarginInputs: 55px;

.multicolumn-inputs-list {
  width: 100%;
  border-collapse: separate;
  border: 1px solid #ccc;
}

.multicolumn-input {
  margin-bottom: 10px;
  position: relative;
}

.multicolumn-input .multicolumn-input-controls {
  margin-left: 15px;
  margin-right: $rightMarginInputs;
}

.multicolumn-inputs-list-body-wrapper {
  overflow-y: auto;
  max-height: 180px;
  padding-right: $scrollbarOffset;
  visibility: hidden;
}

.multicolumn-inputs-list-body-wrapper:hover{
  visibility: visible;
}

.multicolumn-inputs-list-body {
 visibility: visible;
}

.multicolumn-inputs-list .multicolumn-input-controls > ul, .multicolumn-inputs-list .multicolumn-inputs-list-head > ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  list-style-type: none;
  padding: 0;

  > li:first-child {
    padding-left: 0;
  }

  > li:last-child {
    padding-right: 0;
  }

  > li {
    padding-left: 5px;
    padding-right: 5px;
    display: table-cell;

    input {
      font-size: 13px;
    }

    input[type="checkbox"] {
      width: auto;
      height: auto;
      margin-right: 5px;
    }

    .inline-input-holder {
      margin: 0;

      .help-block {
        margin-bottom: 0;
      }

      .help-block:empty {
        margin-top: 0;
      }
    }
  }
}

.multicolumn-input .multicolumn-input-toolbar {
  position: absolute;
  right: 0;
  top: 0;
}

.multicolumn-input .multicolumn-input-add, .multicolumn-input .multicolumn-input-remove {
  float: left;
}

.multicolumn-input .multicolumn-input-add {
  visibility: hidden;
  margin-left: 10px;
}

.multicolumn-input:last-child .multicolumn-input-add {
  visibility: visible;
}

.multicolumn-input {
  .btn.btn-circle, .btn.btn-circle:hover {
    background-color: #cbcbcb;
    font-size: 12px;
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    margin: 0;
  }
}

.multicolumn-inputs-list-head {
  text-align: left;
  color: #cbcbcb;
  background-color: #fafafa;
  margin-bottom: 10px;

  .multicolumn-input-controls {
    margin-left: 15px;
    margin-right: $rightMarginInputs + $scrollbarOffset;
  }

  li {
    .multicolumn-header {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: .03em;
      background-color: #fafafa;
      vertical-align: bottom;
      border-bottom: 1px solid #ccc;
      border-top: 0 none;

      .multicolumn-header-label {
      }
    }
  }
}