
.host-picker-item-primary, .network-search-item-primary {
  font-size: 16px;
}

.host-picker-item-secondary, .network-search-item-secondary {
  font-size: 12px;
}

.host-picker-item-primary .host-picker-item-secondary,
.network-search-item-primary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.network-search-item-secondary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #cccccc;
}

.network-form .multicolumn-inputs-list-body-wrapper {
  overflow: visible;
  max-height: initial;
}