.profile-form {
  position: absolute;
  top: 30px;
  left: 20px;
  right: 0;
  bottom: 20px;
  overflow: auto;
  padding-right: 30px;
}

.profile-form > .title {
  font-size: 26px;
}

.profile-definition-form .profile-form-content {
  margin-top: 5px;
}

.profile-form .control-btns {
  margin-top: 20px;
}

.profile-form .control-btns .admiral-btn {
  padding-left: 30px;
  padding-right: 30px;
}

.tag-separator {
  position:absolute;
  left: -2px;
  top:-3px;
}

.profile-health-path-input .input-group {
  display: flex;
}

.profile-health-path-input .input-group > select {
  border-radius: 0;
  width: auto;
  min-width: 90px;
}

.profile-health-path-input .input-group .httpVersion {
  border-radius: 0;
  width: auto;
  min-width: 105px;
}

.profile-network-expose-service-input .tooltip-inner {
  max-width: 300px;
}

.align-right {
  text-align: right;
  margin-right: 10px;
}

.storage-item {
  padding: 10px 0px;
}

.not-last-storage-item {
  border-bottom: 1px solid #ddd;
}