th.sort-header {
  cursor: pointer;
}

th.sort-header::-moz-selection, th.sort-header::selection {
  background: transparent;
}

table th.sort-header:after {
  content: '';
  /*float: right;
  margin-top: 7px;*/
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  position: relative;

  left: 10px;
}

table th.sort-header:hover:after {
  visibility: visible;
    top: -10px;
}
table th.sort-header.sort-up:hover:after {
  visibility: visible;
    top: 10px;
}
table th.sort-up:after {
  visibility: visible;
  opacity: 0.4;
  top: 10px;
}
table th.sort-down:after {
  visibility: visible;
  opacity: 0.4;
  top: -10px;
}

table th.sort-up:after {
  border-bottom: none;
  border-width: 4px 4px 0;
}