global
    maxconn 4096
    log 127.0.0.1 local2

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    timeout tunnel 1h
    option redispatch
    balance source
    log global

{{range .Frontends}}
frontend {{.Name}}
    bind {{$.InternalIP}}:{{.Port}}
    use_backend %[src,map(/haproxy/containers.map,not_found)]_{{.Port}}
{{end}}

{{if .PublicFrontends}}frontend public_services
    bind {{$.PublicIP}}:80
    # Public frontend is available for HTTP only. However mode http is not used
    # because if would require the same mode on the backend.
    tcp-request inspect-delay 1s
    tcp-request content accept if HTTP
    {{range .PublicFrontends}}{{if eq .Scheme "http"}}
    acl host_{{.Alias}} hdr_dom(host) -i {{.Alias}}
    use_backend host_{{.Alias}} if host_{{.Alias}}{{end}}{{end}}

frontend public_secure_services
    bind {{$.PublicIP}}:443{{range .PublicFrontends}}{{if eq .Scheme "https"}}
    acl host_{{.Alias}} req.ssl_sni -i {{.Alias}}
    use_backend host_{{.Alias}} if host_{{.Alias}}{{end}}{{end}}
{{end}}

{{range .Backends}}
backend {{.Name}}{{range .Nodes}}
    server {{.Id}} {{.Address}} check{{end}}
{{end}}

