
.dropdown .dropdown-menu li a {
  @extend .dropdown-item;
  margin: 0;
}

.dropdown .dropdown-menu span {
  margin: 0;
}

.dropdown .dropdown-menu .divider {
  @extend .dropdown-divider;
}

.form-group .dropdown-holder {
  @extend .form-control;
  padding: 0;
}

.form-group .dropdown button, .form-group .dropdown .dropdown-menu {
  width: 100%;
  max-width: 100%;
}

.form-group .dropdown .dropdown-menu {
  .search-input {
    margin-bottom: 10px;
  }
}

.form-group .dropdown {
  width: 100%;
  .dropdown-toggle {
    width: 100%;
    max-width: 100%;
    padding-right: 10px;

    .loading {
      width: 18px;
      float: left;
      margin-left: 5px;
    }

    .dropdown-title {
      float: left;
      color: #333;
      span {
        color: #999;
        margin: 0;
      }
    }

    .dropdown-title.placeholder {
      color: #999 !important;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      text-align: left;
    }

    .caret {
      float: right;
      margin-top: 15px;
    }
  }
}

.form-group .dropdown .dropdown-search {
  margin-left: 15px;
  margin-right: 15px;
}

.form-group .help-block:empty {
  margin: 0;
  display: none;
}

.form-group .dropdown .dropdown-options, .form-group .dropdown .dropdown-manage {
  display: block;
  border: none;
  box-shadow: none;
  position: relative;
  max-height: $search-result-list-max-height;
  overflow-y: auto;
  font-size: 15px;

  > li {
    display: block;
  }
}

.form-group .dropdown .divider {
  width: 100%;
}

.form-group .dropdown .dropdown-manage li {
  position: relative;
  padding-left: 0;
}

.form-group .dropdown .dropdown-manage li > a {
  margin-left: 0;
  position: relative;
  padding: 1px 0 5px 41px;
}

.form-group .dropdown .dropdown-manage li > a > .fa {
  position: absolute;
  top: 10px;
  left: 20px;
}

.form-group .dropdown.dropdown-select {
  $select-hover-background: rgba(221, 221, 221, 0.5);
  $select-after-color: $gray-dark-midtone;
  $select-after-hover-color: $gray-dark;
  height: $clr_baselineRem_1;

  margin-top: $clr_baselineRem_0_25;
  margin-bottom: $clr_baselineRem_0_25;

  .dropdown-toggle {
    @include custom-inputs($clr-baselineRem_1);
    @include clr-form-fields-appearance($clr-baselineRem_2_5, $clr-form-field-border-color);
    @include input-border-bottom-animation();

    position: relative;
    padding: 0 ($clr-dropdown-caret-icon-dimension + 2 * $clr_baselineRem_0_25) 0 $clr_baselineRem_0_25;
    cursor: pointer;
    width: 100%;
    z-index: map-get($clr-layers, select-box);

    &:hover,
    &:active {
      border-color: $select-hover-background;
      background: $select-hover-background;
    }

    &:disabled {
      @include disabled-form-fields();
    }
  }

  //Selectbox custom arrow
  &::after {
    position: absolute;
    content: '';
    height: $clr-dropdown-caret-icon-dimension;
    width: $clr-dropdown-caret-icon-dimension;
    top: ($clr_baselineRem_1 - $clr-dropdown-caret-icon-dimension) / 2;
    right: $clr_baselineRem_0_25;
    background-image: generateCaretIcon();
    @include icon-background-styles();
    margin: 0;
  }

  &:hover::after {
    color: $select-after-hover-color;
  }

  &.disabled {
    @include disabled-form-fields();

    &:hover::after {
      color: $select-after-color;
    }
  }

  &.disabled > select, select:disabled {
    @include disabled-form-fields();

    &:hover {
      background: none;
      border-color: $clr-form-field-border-color;
    }
  }

  .spinner.spinner-inline {
    margin: 0;
  }
}
